<div class="weui-cells__title"></div>

<div class='text-center' ng-if='! $ctrl.userData.token'>
  请<a href="#!/wx-login">登录</a>
</div>
<div class="weui-panel weui-panel_access" ng-if='$ctrl.userData.token'>
  <div class="weui-panel__bd">
    <a href class="weui-media-box weui-media-box_appmsg"
    ng-swipe-left='$ctrl.swipeLeft()'
    ng-swipe-right='$ctrl.swipeRight()'>
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" ng-src="{{$ctrl.userData.wxinfo.headimgurl}}" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">
          <span ng-if='$ctrl.userData.wxinfo'>
            {{$ctrl.userData.wxinfo.nickname}}
          </span>
          <span ng-if='! $ctrl.userData.wxinfo'>
            {{$ctrl.userData.uname}}
          </span>
        </h4>
        <p class="weui-media-box__desc">如有显示异常，可在头像上右滑重登录试试</p>
      </div>
    </a>
  </div>

</div>

<div class="weui-panel" ng-if='0'>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href='#!/livec-create'
         >
            <div class="weui-cell__hd"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>
            <div class="weui-cell__bd weui-cell_primary">
                <p>我的小区</p>
            </div>
            <span class="weui-cell__ft"></span>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="weui-panel"
ng-if='$ctrl.userData.isAdmin()'>
  <div class="weui-panel__hd">管理功能</div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href='#!/livec-create'
         >
            <div class="weui-cell__hd"><i class="fa fa-university" aria-hidden="true"></i></div>
            <div class="weui-cell__bd weui-cell_primary">
                <p>创建小区</p>
            </div>
            <span class="weui-cell__ft"></span>
        </a>
      </div>
    </div>
  </div>
</div>

