<div class="" id="afterlogin" ng-controller="APIController">
  <div class="page-nav-container-bg-top"></div>

  <div class="page-nav">
    <img src="http://qinggaoshou.com/qgs/images/ask-top.jpg">
    <div class="poster" id="main-poster">
      <a>遍访高手，造福众生。</a>
      <a>更专业的人做更专业的事。</a>
      <a>搞不定，请高手。</a>
      <a>一问一答，其妙无穷。</a>
    </div>
  </div>


  <div class="body-v100">
    <div class="page-nav-div"></div>

    <div class="col-180" id="form-views" ui-view></div>

    <div class="page-nav-container-bg-bottom"></div>
  </div>

  <pagedialog id="mainpagedialog" dlg="maindlg"></pagedialog>

  <div class="page-nav-container">
    <div class="col-180">
      <div class="icons">
        <div class="box " onclick="wx.closeWindow()" ng-show="API.iswx">
          <span class="icon glyphicon glyphicon-log-out color-800"></span>
          <div class="text color-800">返回微信</div>
        </div>
        <div class="box " ui-sref-active="active" ui-sref=".{{item.href}}"  ng-repeat="item in API.navmenu[API.module]">
          <span class="icon glyphicon glyphicon-{{item.icon}}" ng-if="item.icon"></span>
          <i class="icon fa fa-{{item.fa}}" ng-if="item.fa"></i>
          <div class="text">{{item.text}}</div>
        </div>
      </div>
      <div class="hide-max-3 search" ng-show="API.module=='service'">
        <div class="input-group">
           <input type="text" class="form-control" ng-model="API.quicksearchtext" size=10>
           <span class="input-group-btn">
              <button class="btn btn-info" type="button" ng-click="quicksearch()">搜索</button>
           </span>
        </div>
      </div>
    </div>
  </div>
</div>


