<div class="appb-input-bar" ng-if='0'>
    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" placeholder="请输入文本">
      </div>
      <div class="weui-cell__ft">
        <a href class="appb-input-bar-icon" ng-click=''>
          <i class='fa fa-smile-o'></i>
        </a>
        <button class="weui-btn weui-btn_mini weui-btn_primary appb-input-bar-btn"
        ng-class="{'appb-input-bar-btn-disabled':0}"
        ng-click=''>
        发送</button>
      </div>
    </div>
</div>