  
<div class="weui-uploader">
  <!--div class="weui-uploader__hd">
      <p class="weui-uploader__title">{{$ctrl.imgData.title}}</p>
      <div class="weui-uploader__info">{{$ctrl.imgData.imgs.length}}/{{$ctrl.imgData.maxCount}}</div>
  </div-->
  <div class="weui-uploader__bd">
      <ul class="weui-uploader__files" id="uploaderFiles">
      
      <!-- .weui-uploader__file_status class 效果是 0.5灰度 盖住背景图的，
      上传后就不要灰度盖了，要背景图全亮的效果。
      -->
          <li class="weui-uploader__file " 
          ng-class='{
          "weui-uploader__file_status":!$ctrl.imgData.apiFileIds[$index],
          "weui-uploader__file_uploadok":$ctrl.imgData.apiFileIds[$index]
          
          }'
          style='background-image:url({{img}})'
          ng-repeat='img in $ctrl.imgData.imgs track by $index'>
              <div class="weui-uploader__file-content">
              </div>
          </li>
      </ul>
      <div class="weui-uploader__input-box" ng-click='$ctrl.addImg()'
      ng-if=' $ctrl.imgData.imgs.length < $ctrl.imgData.maxCount '> 
      </div>
  </div>
</div>
