/* 搜索组件 */

search-form > .form{
  font-size: .12rem;
  padding: .12em;
}

search-form .gray{
  color: #888;
}

search-form > .form > *{
  height: .40rem;
}

search-form input{
  border: 0px;
  background: rgba(0,0,0,0);
}
search-form input.w5em{
  width: 5em;
}

/* 搜索结果列表 */
.result-items{ padding: 0; }
.result-items>*{
  border-bottom: solid 1px #888;
}
.result-items>*:last-child{
  border-bottom: solid 0px;
}
.result-items .next.fa{
  font-size: 2em;
  color: #888;
  padding: 0 0 0 .05rem;
}
.result-items .result-item{
  padding: .03rem 0;
}
.result-items .result-item .name{
  font-size: .14rem;
  color: #000;
  height: 1.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.5;
  overflow: hidden;
}
.result-items .result-item .update{
  padding: 0 0 0 0.5em;
  font-size: .10rem;
  color: #6B6B6B;
}
.result-items .result-item .row-2{
  font-size: .12rem;
  color: #6B6B6B;
}
.result-items .result-item .row-3{
  font-size: .12rem;
  color: #6B6B6B;
}


