<!-- 搜索表单组件 -->
<div id="loadinnngToast" ng-if='$ctrl.searchData.searching'>
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
      <i class="weui-loading weui-icon_toast"></i>
      <p class="weui-toast__content">数据加载中</p>
  </div>
</div>


<div class="form">
  <div class="flex flex-v-center bb-888">
    <div class="flex flex-grow rem-16 b-900" next="right">
      <span class=" rem-16 b-900" c="51" ng-click="$ctrl.pickingCity=true">{{$ctrl.searchData.options.currentCity||'尚未定位'}}</span>
      <div china-address class="pick-city-box" ng-if="$ctrl.pickingCity"
        close="$ctrl.pickingCity=false;$ctrl.searchData.options.currentCity=$value"
        dismiss="$ctrl.pickingCity=false"
        address="{{$ctrl.searchData.options.currentCity}}"
      ></div>
    </div>
    <div class="flex gray rem-12" c="06c">
      　<i class="fa fa-sun-o"> 我的位置</i>
      <div class=""> </div>
    </div>
  </div>
  <div class="flex flex-v-center bb-888 ">
    <div class="gray rem-14" c="6B">搜索半径</div>
    <div class="flex rem-16" next>
        <select class="rem-16 weui-select b-900 " name="input_dist" c="51"
        ng-model="$ctrl.searchData.options.distSelect" >
          <option ng-repeat="t in $ctrl.searchData.distText"
            value="{{$index}}">{{t}}</option>
        </select>
    </div>
  </div>
  <div class="flex flex-v-center bb-888  rem-16" next>
    <div class="gray rem-14" c="6B">项目周期</div>
    <div class="flex-grow flex-cc" c="51">
      <month-between class="rem-16" ng-model="$ctrl.searchData.options.monthBetween"></month-between>
    </div>
  </div>
  <div class="flex flex-v-center bb-888 ">
    <div class="rem-14" c="6B">产能需求</div>
    <div class="flex flex-bottom">
      <input class="rem-16 b-900 w5em" c="51" ng-model="$ctrl.searchData.options.cnxq" placeholder="所需产能">
      <div class="rem-12" c="51">吨</div>
    </div>
  </div>
  <div class="flex flex-v-center bb-888 ">
    <input class="rem-16 b-900" c="51" ng-model="$ctrl.searchData.options.searchWord" placeholder="关键词/名称/地址">
  </div>



</div>