/* 公司详情组件 */


fac-detail-profile{
  font-size: 0.8rem;
  color: #888;
}
fac-detail-profile .box-1 > .headimg{
  width: 8em;
  height: 8em;
}

.fac-name{
  color: #333;
  font-size: 1.5em;
  font-weight: 900;
  height: 1.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.5;
  overflow: hidden;
}

fac-detail-profile .box-2 > .title{
  color: #333;
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 1em;
}

.btn-box{
  border: solid 1px #888;
  margin: 0.2em;
}

fac-detail-profile .btns{
  padding: 0.3em;
  margin: 0 0 0.5em;
}
fac-detail-profile .btns > *{
  padding: 0.3em 1em;
  background:#fff;
  color:#888;
  margin-right: 0.8em;
  border: solid 0;
}

.search-btns{
  padding: 2em 0;
  font-size: 1.6em;
}
.search-btns > *{
  width: 42%;
  padding: 0.5em 0;
  text-align: center;
  background: #888;
  color: #333;
}

