<!-- 公司详情-简介组件 -->

<div class="flex box-1">
  <div class="flex-grow">
    <div class="flex">
      <div class="fac-name text-3">{{fac.name}}</div>
      <level-box class="shrink0" level="fac.level"></level-box>
    </div>
    <div class="flex bb-ccc">
      <div class="rem-10" c="6B"><span edit-url="{{(isSuperAdmin || isThisAdmin) && ('#!/fac-edit?type=steefac&id=' + fac.id) || ''}}">{{fac.update_at|timespan:'MM月d日更新'}}</span></div>
      <div class="rem-10" c="6B">1.2KM</div>
    </div>
    <div class="text-gray">剩余产能：<span class="text-warning">{{fac.cap_6m}}</span>吨</div>
    <div class="text-gray"><span edit-url="{{(isSuperAdmin || isThisAdmin) && ('#!/edit-fac-fee?id=' + fac.id) || ''}}">加工费</span>：<span>{{fee}}/吨</span></div>
    <div class="text-gray line___1"><span edit-url="{{(isSuperAdmin || isThisAdmin) && ('#!/edit-fac-goodat?id=' + fac.id) || ''}}">擅长</span>：<span>{{fac.goodat}}</span></div>
  </div>
  <div class="headimg shrink0">
    <img ng-src="">
  </div>
</div>

<div class="flex-v bb-ccc box-2">
  <div class="title text-3 bb-ccc"><span edit-url="{{(isSuperAdmin || isThisAdmin) && ('#!/edit-fac-contact?id=' + fac.id) || ''}}">联系方式</span></div>
  <div class="flex flex-top">
    <div class="">
      <div class="text-gray line___1">地址：<span>{{fac.addr}}</span></div>
      <div class="text-gray">联系人：<span>{{fac.contact_person}}</span></div>
    </div>
    <div class="btn-box box-primary shrink0" tobe-admin="steefac" fac="fac">申请成为管理员</div>
  </div>
  <div class="btns flex flex-left">
    <tel-box  class="text-active" val="fac.contact_tel"></tel-box>
    <mail-box class="text-active" val="fac.contact_email"></mail-box>
  </div>
</div>

<search-nearby class="search-btns flex" fac="fac"></search-nearby>