<!-- 公司详情-简介组件 -->

<div class="flex box-1">
  <div class="flex-grow">
    <div class="flex">
      <div class="fac-name">{{fac.name}}</div>
      <level-box class="shrink0" level="fac.level"></level-box>
    </div>
    <div class="update bb-ccc">{{fac.update_at|timespan:'MM月d日更新'}}</div>
    <div class="row-2">剩余产能：<span>{{fac.area_factory}}吨</span></div>
    <div class="row-2">加工费:<span>{{fac.area_factory}}吨</span></div>
    <div class="">擅长：<span>{{fac.goodat}}</span></div>
  </div>
  <div class="headimg">
    <img ng-src="">
  </div>
</div>

<div class="flex-v bb-ccc box-2">
  <div class="title bb-ccc">联系方式</div>
  <div class="flex">
    <div class="name">地址：<span>{{fac.address}}</span></div>
    <div class="btn-box shrink0">申请成为管理员</div>
  </div>
  <div class="">联系人：<span>张三</span></div>
  <div class="btns flex flex-left">
    <div>拨打电话</div>
    <div>发送邮件</div>
  </div>
</div>

<div class="search-btns flex">
  <div>搜索附近产能</div>
  <div>搜索附近项目</div>
</div>