<!-- 项目详情-项目产能组件 -->

<div class="box">
  <div class="text-3 rem-12 b-900 bb-ccc">项目信息</div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">项目类型</div>
    <div class="text-gray rem-12">{{fac.type}}</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">项目规模</div>
    <div class="text-gray rem-12">{{fac.size}}㎡</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">采购量</div>
    <div class="text-gray rem-12">{{fac.need_steel}}吨</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">主要构件形式</div>
    <div class="text-gray rem-12">{{fac.steel_shape}}</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">主材牌号</div>
    <div class="text-gray rem-12">{{fac.steel_Qxxx}}</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">首批供货时间</div>
    <div class="text-gray rem-12">{{ProjDefine.objReqInMonth[fac.in_month]}}</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">供主材</div>
    <div class="text-gray rem-12">{{fac.provide_raw&&'是'||'否'}}</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">基准单吨价</div>
    <div class="text-gray rem-12">加工费{{fac.stee_price}}/吨</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">预付款比例</div>
    <div class="text-gray rem-12">{{fac.advance_pay*100}}%</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">合格供应商</div>
    <div class="text-gray rem-12">{{fac.require_check}}</div>
  </div>
</div>

<!--div class="box">
  <div class="text-3 rem-12 b-900 bb-ccc">联系方式</div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">地址</div>
    <div class="text-gray rem-12">{{fac.formatted_address}}</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">联系人</div>
    <div class="text-gray rem-12">{{fac.contact_person}}</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">联系电话</div>
    <div class="text-gray rem-12">{{fac.contact_tel}}</div>
  </div>
  <div class="flex bb-ccc">
    <div class="text-gray rem-12">联系邮箱</div>
    <div class="text-gray rem-12">{{fac.contact_email}}</div>
  </div>
</div-->

<div class="box">
  <div class="text-3 rem-12 b-900 bb-ccc">补充说明</div>
  <div class="text-gray rem-12">{{fac.notes||'无'}}</div>
</div>

