<!-- 项目详情-mini组件 -->

<div class="weui-media-box__hd">
  <img class="weui-media-box__thumb" src="data:image/bmp;base64,Qk34AAAAAAAAADYAAAAoAAAACAAAAAwAAAABABAAAAAAAAAAAADCDgAAwg4AAAAAAAAAAAAA/3//f/9//3//f/9//3//f/9//39rAGsAjABrAP9//3//f2wAbAD/f/9//39qAP9//39qAP9//3//f/9/agD/f/9/agD/f/9//3//f2sA/3//f2oA/3//f/9//3//f/9//39rAP9//3//f/9//3//f/9/agD/f/9//3//f2wA/3//f2sA/3//f/9//39qAP9//39rAGoA/3//f/9/agD/f/9//39rAGsAawBsAP9//3//f/9//3//f/9//3//f/9/AAA="
    alt="">
</div>
<div class="weui-media-box__bd">
  <h4 class="weui-media-box__title">{{fac.name}}</h4>
  <p class="weui-media-box__desc">采购量：<span class="text-3">{{fac.need_steel}}</span>吨, 首批供货时间：<span>{{ProjDefine.objReqInMonth[fac.in_month]}}</span></p>
</div>