<div class='main-content-wrapper' appb-ui-on-scroll-bottom='$ctrl.showOldMore()'>
<div class="weui-cells" ng-if='! $ctrl.userData.token'>
  <div class='weui-cell text-center'>
    请<a href="#!/wx-login">登录</a>
  </div>
</div>

<eb-timeline-header user-data='$ctrl.userData'></eb-timeline-header>

<div class="weui-cells__title">我关注的</div>
<div class="weui-cells"
  ng-if='$ctrl.appData.feedData.hasNewMore && !$ctrl.appData.feedData.newMoreLoading'
  ng-click='$ctrl.showNewMore()'>
  <div class='weui-cell text-center'>
    <div class="weui-cell__bd text-center">有新内容，点此刷新</div>
  </div>
</div>
<div class="weui-cells" ng-if='$ctrl.appData.feedData.newMoreLoading'>
  <div class="weui-cell">
    <div class="weui-loadmore">
      <i class="weui-loading"></i>
      <span class="weui-loadmore__tips">正在加载</span>
    </div>
  </div>
</div>



<appb-feed-list app-data='$ctrl.appData' feed-data='$ctrl.appData.feedData' feed-app='$ctrl.feedApp' feed-cat='$ctrl.feedCat'></appb-feed-list>

</div>

