
dj-gallery{
  display: block;
  width: 100vw;
  height:100%;
}
.dj-gallery-box{
  position: relative;
  width: 100%;
  height:100%;
  background: #cccccc;
  overflow-x: hidden;
}


.dj-gallery-box > .dj-gallery-list {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  word-break: keep-all;
  white-space: nowrap;
  overflow-x: visible;
}

.dj-gallery-box > .dj-gallery-list  > .dj-gallery-item {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: #cccccc;
}

.dj-gallery-box > .dj-gallery-list  > .dj-gallery-item > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.dj-gallery-box > .dj-gallery-debug  {
  position: absolute;
  z-index: 2;
  top: .30rem;
  left: 0;
  width: 100%;
  height: .50rem;
  background: #ffcccccc;
  text-align: center;
}


.dj-gallery-box > .dj-gallery-nav  {
  position: absolute;
  z-index: 2;
  bottom: .30rem;
  left: 0;
  width: 100%;
}
.dj-gallery-box > .dj-gallery-nav > *,
.dj-gallery-box > .dj-gallery-nav > * > *{
  font-size: .26rem;
  line-height: 1.1;
}

.dj-gallery-box > .dj-gallery-nav > .btns {
  padding-right: .25rem;
}

.dj-gallery-box > .dj-gallery-nav > .btns > * {
  background: #88888888;
  padding: .05rem .10rem;
  border-radius: .05rem;
}
