<div class="ww25 hhh25 bk-fff">
  <br><br><br>
  <div class="container" ng-controller="LoginCtrl">
    <div class=row>
      <div class="col-xs-offset-0 col-xs-12  col-md-offset-3 col-md-6">
      <form name='form1' ng-submit="login()">
        <div class="userlist-item">
          <img src='https://qinggaoshou.com/qgs/images/logo-128.png'>
          <span class="hh3 text1 b900">请高手 用户登陆</span>
        </div>
        <br/>
        <div class="form-group">
          <input name="nick" ng-model="nick"  class="list-group-item form-control superior-id" placeholder="手机号码，或请高手平台ID">
        </div>
        <div class="form-group">
          <input name="password" type="password" ng-model="password" class="list-group-item form-control password" placeholder="密码">
        </div>
        <h5></h5>
        <div class="text-center hh4">
          <input type="checkbox" ng-model="keeplogin" name="keeplogin">
          <label for=favcolor>保持我的登陆状态</label>
        </div>
        <h5></h5>
        <div class="text-center text-info ui-content">
          <button type="submit" class="btn {{logining&&'color-888'||'color-fff btn-primary'}} btn-lg btn-block" ng-disabled="logining">登陆</button>
        </div>
        <div class="text-center text-info ui-content">
          <h4>没有请高手ID? <a href="#/register" class="text-info">现在创建一个</a></h4>
        </div>
        <div class="text-warning fee">
          {{prompt}}
        </div>
      </form>
      </div>
    </div>
  </div>
  <br><br><br>
</div>
