<appb-ui-loading ng-if='$ctrl.isLoading'></appb-ui-loading>

<facs-show
  ng-repeat='type in $ctrl.objTypes'
  ng-if='$ctrl.facIds[type]'
  
  title=' "我管理的" +$ctrl.objNames[type]'
  type='type'
  fac-ids='$ctrl.facIds[type]'
>
</facs-show>

<appb-weui-cells
  ng-repeat='type in $ctrl.objTypes'
  ng-if='! $ctrl.facIds[type]'
  title='暂无我管理的{{$ctrl.objNames[type]}}'
  cells="[
    {text:'添加我的'+$ctrl.objNames[type],url:'/fac-add-find-name?type='+type,icon:'plus',notes:'查找或创建'},
  ]"
>
</appb-weui-cells>


<fac-ui-copyright></fac-ui-copyright>

