<div class="weui-cells__title"></div>

<div class='text-center' ng-if='! $ctrl.userData.token'>
  请<a href="#!/wx-login">登录</a>
</div>
<div class="weui-panel weui-panel_access" ng-if='$ctrl.userData.token'>
  <div class="weui-panel__bd">
    <a href class="weui-media-box weui-media-box_appmsg"
    ng-swipe-left='$ctrl.swipeLeft()'
    ng-swipe-right='$ctrl.swipeRight()'>
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" ng-src="{{$ctrl.userData.wxinfo.headimgurl}}" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">
          <span ng-if='$ctrl.userData.wxinfo'>
            {{$ctrl.userData.wxinfo.nickname}}
          </span>
          <span ng-if='! $ctrl.userData.wxinfo'>
            {{$ctrl.userData.uname}}
          </span>
          
        </h4>
        <p class="weui-media-box__desc">UID:{{$ctrl.userData.uid}}</p>
      </div>
    </a>
  </div>

</div>
<div ng-if='1'> 
  <appb-weui-cells
    title='钢构产能地图'
    cells="[
      {text:'共有'+$ctrl.FacUser.myData.counter.nFac+'个钢构厂',url:'/search',icon:'search',notes:'搜索产能'},
      {text:'共有'+$ctrl.FacUser.myData.counter.nProj+'个项目信息',url:'/search',icon:'search',notes:'搜索项目'},
      {text:'我的钢构厂',url:'/my-fac',icon:'user-circle',notes:''},
      {text:'创建钢构厂',url:'/fac-add-find-name?type=steefac',icon:'plus',notes:'新增钢构厂'},
      {text:'创建项目信息',url:'/fac-add-find-name?type=steeproj',icon:'plus',notes:'新增用钢信息'},
    ]"
  >
  </appb-weui-cells>
</div>

<!-- 
注意，这里由于ng-if 不允许位操作： xx & 0x10000
所以用:  xx % 0x20000 >=0x10000 
这两个是等价的
-->
<div class='weui-cells' ng-if='($ctrl.FacUser.myData.isAdmin % (2*65536))>=65536'> 
  <div class="weui-cells__title">系统管理员</div> 

  <div class="weui-cell weui-cell_switch">
    <div class="weui-cell__bd">模拟为普通用户</div>
    <div class="weui-cell__ft">
      <input class="weui-switch" type="checkbox"
      ng-change='$ctrl.onDisableSysAdmin()'
      ng-model="$ctrl.FacUser.myData.disableSysAdmin"/>
    </div>
  </div>
</div>


<div ng-if='$ctrl.FacUser.isSysAdmin()'> 
  <appb-weui-cells
    title='系统管理功能'
    cells="[
      {text:'钢构厂管理员列表',url:'/get-admins?type=steefac',icon:'user-o',notes:''},
      {text:'采购商列表',url:'/get-admins?type=steeproj',icon:'user-o',notes:''}
    ]"
  >
  </appb-weui-cells>
</div>


<div ng-if='$ctrl.FacUser.isSysAdmin()'> 
  <appb-weui-cells
    title='管理员-统计'
    cells="[
      {text:'用户活跃度（1小时）',url:'/log-analy-user-activity?hour=1',icon:'university'},
      {text:'用户活跃度（2小时）',url:'/log-analy-user-activity?hour=2',icon:'university'},
      {text:'用户活跃度（6小时）',url:'/log-analy-user-activity?hour=6',icon:'university'},
      {text:'用户活跃度（12小时）',url:'/log-analy-user-activity?hour=12',icon:'university'},
      {text:'用户活跃度（24小时）',url:'/log-analy-user-activity?hour=24',icon:'university'},
      {text:'用户活跃度（2天）',url:'/log-analy-user-activity?day=2',icon:'university'},
      {text:'用户活跃度（7天）',url:'/log-analy-user-activity?day=7',icon:'university'},
      {text:'用户活跃度（30天）',url:'/log-analy-user-activity?day=30',icon:'university'},
      {text:'用户活跃度（90天）',url:'/log-analy-user-activity?day=90',icon:'university'},
      {text:'用户活跃度（365天）',url:'/log-analy-user-activity?day=365',icon:'university'}
    ]"
  >
  </appb-weui-cells>
</div>

<div ng-if='$ctrl.FacUser.isSysAdmin()'> 
  <appb-weui-cells
    title='系统管理功能(测试中)'
    cells="[
     {text:'发消息',url:'/send-msg',icon:'comments',notes:'待办提醒模板消息'},
     {text:'测试首页',url:'/home',icon:'home',notes:'测试中'},
      {text:'排行',url:'/stat',icon:'area-chart',notes:'全国概览及各地详情'}
    ]"
  >
  </appb-weui-cells>
</div>

<div class='weui-article'>

  <div
  ng-if='$ctrl.userData.wxinfo && $ctrl.isWeixinBrowser'>
    <a ng-if='$ctrl.isGz'> 感谢您关注请高手，关注时间：<span am-time-ago='1000*$ctrl.gzTime'></span>。</a>
    <a ng-if='!$ctrl.isGz'>您尚未关注“请高手”，欢迎您请识别二维码关注“请高手”以便我们更好地为您服务。如果您已关注，可以<span class="weui-btn weui-btn_mini weui-btn_primary" ng-click='$ctrl.swipeRight()'>重登录</span>试试，谢谢。
    <br/>
    <img ng-src='{{$ctrl.assetsRoot}}/img/img-steefac/stee-qgs-qrcode.png'/>
    </a>
  </div>
  
  <div 
  ng-if='$ctrl.userData.wxinfo && !$ctrl.isWeixinBrowser'>
    <div>当前不是使用微信打开，可用手机扫描二维码关注“请高手”后用微信打开，以便我们更好地为您服务。
    </div>
    <div>
    <img class='' 
    ng-src='{{$ctrl.assetsRoot}}/img/img-steefac/stee-qgs-qrcode.png'/>
    </div>
  </div>
  
</div>

<fac-ui-copyright></fac-ui-copyright>
