<div class="weui-cells__title"></div>

<div class='text-center' ng-if='! $ctrl.userData.token'>
  请<a href="#!/wx-login">登录</a>
</div>
<div class="weui-panel weui-panel_access" ng-if='$ctrl.userData.token'>
  <div class="weui-panel__bd">
    <a href class="weui-media-box weui-media-box_appmsg"
    ng-swipe-left='$ctrl.swipeLeft()'
    ng-swipe-right='$ctrl.swipeRight()'>
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" ng-src="{{$ctrl.userData.wxinfo.headimgurl}}" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">
          <span ng-if='$ctrl.userData.wxinfo'>
            {{$ctrl.userData.wxinfo.nickname}}
          </span>
          <span ng-if='! $ctrl.userData.wxinfo'>
            {{$ctrl.userData.uname}}
          </span>
          
        </h4>
        <p class="weui-media-box__desc">UID:{{$ctrl.userData.uid}}</p>
      </div>
    </a>
  </div>

</div>

<facs-show
  ng-repeat='type in $ctrl.objTypes'
  ng-if='$ctrl.isLoading<=0 && $ctrl.facIds[type] '
  
  title=' "我管理的" +$ctrl.objNames[type]'
  type='type'
  fac-ids='$ctrl.facIds[type]'
>
</facs-show>
<div class='weui-article'
  ng-if='!$ctrl.facIds["steefac"]&&!$ctrl.facIds["steeproj"]'>
  暂无您管理的钢构厂或项目信息。
</div>


<div ng-if='1'> 
  <appb-weui-cells
    title='创建'
    cells="[
      {text:'创建钢构厂',url:'/fac-add-find-name?type=steefac',icon:'plus',notes:'新增钢构厂'},
      {text:'创建项目信息',url:'/fac-add-find-name?type=steeproj',icon:'plus',notes:'新增用钢信息'},
    ]"
  >
  </appb-weui-cells>
</div>
<div class='weui-cells'>
  <div class="weui-cell weui-cell_switch">
    <div class="weui-cell__bd">隐藏页面标题栏</div>
    <div class="weui-cell__ft">
      <input class="weui-switch" type="checkbox"
      ng-model="$ctrl.appData.headerData.hide"/>
    </div>
  </div>
</div>

<div class='weui-article'
  ng-if='$ctrl.isLoading<=0'>

  <div>
    <a ng-if='$ctrl.userData.wxinfo.subscribe'> 感谢您关注钢构产能地图CMOSS！<br/>关注时间：<span am-time-ago='1000*$ctrl.userData.wxinfo.subscribe_time'></span>。</a>
    <a ng-if='!$ctrl.userData.wxinfo.subscribe'>请扫描识别二维码关注“钢构产能地图CMOSS”公众号，以便我们更好地为您服务，谢谢。
    <br/>
    <img ng-src='{{$ctrl.assetsRoot}}/img/img-steefac/stee-cmoss-qrcode.png'/>
    </a>
  </div>
</div>

<!-- ==【admin:】================================== -->

<!-- 
注意，这里由于ng-if 不允许位操作： xx & 0x10000
所以用:  xx % 0x20000 >=0x10000 
这两个是等价的
-->
<div class='weui-cells' ng-if='($ctrl.FacUser.myData.isAdmin % (2*65536))>=65536'> 
  <div class="weui-cells__title">系统管理员</div> 

  <div class="weui-cell weui-cell_switch">
    <div class="weui-cell__bd">模拟为普通用户</div>
    <div class="weui-cell__ft">
      <input class="weui-switch" type="checkbox"
      ng-change='$ctrl.onDisableSysAdmin()'
      ng-model="$ctrl.FacUser.myData.disableSysAdmin"/>
    </div>
  </div>
</div>


<div ng-if='$ctrl.FacUser.isSysAdmin()'> 
  <appb-weui-cells
    title='系统管理功能'
    cells="[
      {text:'钢构厂管理员列表',url:'/get-admins?type=steefac',icon:'user-o',notes:''},
      {text:'采购商列表',url:'/get-admins?type=steeproj',icon:'user-o',notes:''},
      {text:'用户活跃度',url:'/admin-show-activety',icon:'user',notes:'仅限超级管理员'}
      
    ]"
  >
  </appb-weui-cells>
</div>




<div ng-if='$ctrl.FacUser.isSysAdmin()'> 
  <appb-weui-cells
    title='系统管理功能(测试中)'
    cells="[
     {text:'发消息',url:'/send-msg',icon:'comments',notes:'待办提醒模板消息'},
      {text:'排行',url:'/stat',icon:'area-chart',notes:'全国概览及各地详情'}
    ]"
  >
  </appb-weui-cells>
</div>


<fac-ui-copyright></fac-ui-copyright>
