<div class="weui-cells weui-cells_form">
  <div class="weui-cell">
    <div class="weui-cell__bd">
      <textarea class="weui-textarea" placeholder="不求万人怜惜，但求一人懂得。" rows="3"
      ng-model="$ctrl.ebData.draft.content"
      ng-change="$ctrl.ebData.changeMark('content')"
      maxlength='{{$ctrl.maxTextLength}}'
      ></textarea>
      <div class="weui-textarea-counter"
      ng-if='$ctrl.ebData.draft.content.length/$ctrl.maxTextLength > 0.9'
      ><span>{{$ctrl.ebData.draft.content.length}}</span>/{{$ctrl.maxTextLength}}</div>
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__bd">
      <appb-ui-uploader  
        app-data='$ctrl.appData'
        imgs='$ctrl.imgs'
        max-count='9'
        update-img='$ctrl.updateImg(imgs)'
      ></appb-ui-uploader>
    </div>
  </div>

  <div class="weui-cell weui-cell_select weui-cell_select-after">
    <div class="weui-cell__hd">
      <label for="" class="weui-label">分类</label>
    </div>
    <div class="weui-cell__bd">
      <select class="weui-select" name="select_grade"
      ng-model='$ctrl.ebData.draft.grade' 
      ng-change="$ctrl.ebData.changeMark('grade')">
        <option ng-repeat='(key, value) in $ctrl.ebData.ebConfig.gradeList'
          value="{{key}}">{{value}}</option>
      </select>
    </div>
  </div>
  <div class="weui-cell weui-cell_select weui-cell_select-after">
    <div class="weui-cell__hd">
      <label for="" class="weui-label">小区</label>
    </div>
    <div class="weui-cell__bd">
      <select class="weui-select" name="select_course"
      ng-model='$ctrl.ebData.draft.course'
      ng-change="$ctrl.ebData.changeMark('course')">
        <option ng-repeat='(key, value) in $ctrl.ebData.ebConfig.courseList'
          value="{{key}}">{{value}}</option>
      </select>
    </div>
  </div>
  
  <!--div class="weui-cell weui-cell_switch">
    <div class="weui-cell__bd">匿名发表</div>
    <div class="weui-cell__ft">
      <input class="weui-switch" type="checkbox"  
      ng-model='$ctrl.ebData.draft.anonymous'
      ng-true-value="'y'"
      ng-false-value="'n'"
      ng-change="$ctrl.ebData.changeMark('anonymous')">
    </div>
  </div-->
  
</div>
<div class="weui-btn-area">
  <button class="weui-btn weui-btn_primary" href="#" id="showTooltips"
  ng-disabled="$ctrl.ebData.publishing"
  ng-class="{'weui-btn_disabled':$ctrl.ebData.publishing}"
  ng-click="$ctrl.ebData.publish()">确定</button>
</div>  

