<div class="weui-cells weui-cells_form">
  <div class="weui-cell">
    <div class="weui-cell__bd">
      <textarea class="weui-textarea" placeholder="不求万人怜惜，但求一人懂得。" rows="3"
      ng-model="$ctrl.ebData.draft.content"
      ng-change="$ctrl.ebData.changeMark('content')"
      maxlength='{{$ctrl.maxTextLength}}'
      ></textarea>
      <div class="weui-textarea-counter"
      ng-if='$ctrl.ebData.draft.content.length/$ctrl.maxTextLength > 0.9'
      ><span>{{$ctrl.ebData.draft.content.length}}</span>/{{$ctrl.maxTextLength}}</div>
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell__bd">
      <appb-ui-uploader  
        app-data='$ctrl.appData'
        imgs='$ctrl.imgs'
        max-count='9'
        update-img='$ctrl.updateImg(imgs)'
      ></appb-ui-uploader>
    </div>
  </div>

  <!-- 目前仅支持单选的数据 -->
  <div class="weui-cell weui-cell_select weui-cell_select-after"
  ng-repeat='cf in $ctrl.ebData.ebConfig.data_define'>
    <div class="weui-cell__hd">
      <label for="" class="weui-label">{{cf.name}}</label>
    </div>
    <div class="weui-cell__bd">
      <select class="weui-select" name="select_{{cf.column}}"
      ng-model='$ctrl.ebData.draft[cf.column]' 
      ng-change="$ctrl.ebData.changeMark(cf.column)">
        <option ng-repeat='(key, value) in cf.data'
          value="{{key}}">{{value}}</option>
      </select>
    </div>
  </div>
</div>
<div class="weui-btn-area">
  <button class="weui-btn weui-btn_primary" href="#" id="showTooltips"
  ng-disabled="$ctrl.ebData.publishing"
  ng-class="{'weui-btn_disabled':$ctrl.ebData.publishing}"
  ng-click="$ctrl.ebData.publish()">确定</button>
</div>  

