<div class="ebfeed-list" ng-if='1'>
  
  <div class="ebfeed-unit" ng-repeat='a in $ctrl.ebData.feedList'
  ng-init="feedIndex=$index">  
    <div class="eb-po-avt-wrap">
      <img class="eb-po-avt" ng-src="{{
        $ctrl.ebData.usersInfo[a.uid].wxinfo?
        $ctrl.ebData.usersInfo[a.uid].wxinfo.headimgurl :
        'assets/img/anonymous.png'
      }}">
    </div>
    <div class="eb-po-cmt">
      <div class="eb-po-body">
        <div>
          <span class="eb-po-name">{{
            $ctrl.ebData.usersInfo[a.uid].wxinfo?
            $ctrl.ebData.usersInfo[a.uid].wxinfo.nickname :
            $ctrl.ebData.usersInfo[a.uid].uname
          }}</span>
          <span class="eb-po-course">{{$ctrl.ebData.ebConfig.courseList[a.course]}}</span>
          <span class="eb-po-grade">{{$ctrl.ebData.ebConfig.gradeList[a.grade]}}</span>
        </div>
        <div class="eb-post">
          <p>{{a.content}}</p>
          <p ng-if='a.pics'>
            <img class="eb-list-img" style="height: 80px;"
            ng-repeat='img in a.pics.split(",") track by $index'
            ng-init="picIndex=$index"
            ng-click="$ctrl.clickImg(feedIndex,picIndex)"
            ng-src="{{$ctrl.appData.filePath}}/{{img}}">
            
          </p>
        </div>
        <eb-list-pop-action
          ng-show='$ctrl.activeAction ==feedIndex'
          fid='a.fid'
          liking='$ctrl.amILiking[a.fid]'
          cmt-data='$ctrl.appData.ebData.cmtData'
          app-data='$ctrl.appData'
        ></eb-list-pop-action>

        <span class="eb-time" am-time-ago='1000*a.publish_at'></span>
        <span class="eb-action"
          ng-if='a.uid==$ctrl.appData.userData.uid'
          ng-click='$ctrl.ebData.deleteFeed(a.fid)'>
          删除
        </span>
        <!--span class="eb-action" ng-if='a.uid!=$ctrl.appData.userData.uid'>投诉</span-->
        <img class="eb-c-icon cur-pointer" src="assets/img/cmt.png"
        ng-click='$ctrl.showPop(feedIndex,$event)'>
      </div>
      <eb-list-comment app-data='$ctrl.appData'
      fid='a.fid'
      like-data='$ctrl.ebData.cmtData.commentList[a.fid+"like"]'
      comment-data='$ctrl.ebData.cmtData.commentList[a.fid+"comment"]'>
      </eb-list-comment>
    </div>
    <div class="eb-po-clear" id='eb-feed-end-{{a.fid}}'></div>
  </div>
  
  <div class="weui-cells">
    <a href class="weui-cell weui-cell_link"
    ng-if='$ctrl.ebData.hasOldMore && !$ctrl.ebData.oldMoreLoading'
    ng-click='$ctrl.ebData.exploreFeed({oldMore:1})'>
      <div class="weui-cell__bd text-center">加载更多</div>
    </a>
    <a href class="weui-cell weui-cell_link"
    ng-if='!$ctrl.ebData.hasOldMore && !$ctrl.ebData.oldMoreLoading'>
      <div class="weui-cell__bd text-center">已显示全部</div>
    </a>
    
    <div class="weui-cell" ng-if='$ctrl.ebData.oldMoreLoading'>
      <div class="weui-loadmore-XX">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
      </div>
    </div>  
  </div>

</div>


