<div class="ebfeed-list" ng-if='1'>
  <div ng-repeat='feed in $ctrl.feedData.feedAll[$ctrl.feedAppCat()]'>  
    <eb-feed app-data='$ctrl.appData' feed-data='$ctrl.feedData'
    feed-app='$ctrl.feedApp' feed-cat='$ctrl.feedCat'
    feed=feed></eb-feed>
  </div>
  
  <div class="weui-cells">
    <a href class="weui-cell weui-cell_link"
    ng-if='$ctrl.ebData.hasOldMore && !$ctrl.ebData.oldMoreLoading'
    ng-click='$ctrl.ebData.exploreFeed({oldMore:1})'>
      <div class="weui-cell__bd text-center">加载更多</div>
    </a>
    <a href class="weui-cell weui-cell_link"
    ng-if='!$ctrl.ebData.hasOldMore && !$ctrl.ebData.oldMoreLoading'>
      <div class="weui-cell__bd text-center">已显示全部</div>
    </a>
    
    <div class="weui-cell" ng-if='$ctrl.ebData.oldMoreLoading'>
      <div class="weui-loadmore-XX">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
      </div>
    </div>  
  </div>

</div>


