<div class="ebfeed-list" ng-if='1'>

  <div class="weui-loadmore" ng-if='$ctrl.ebData.feedLoading || !$ctrl.ebData.feedList || !$ctrl.ebData.feedList.length'>
    <i class="weui-loading"></i>
    <span class="weui-loadmore__tips">正在加载</span>
  </div>
  
  <div class="ebfeed-unit" ng-repeat='a in $ctrl.ebData.feedList'>  
    <div class="eb-po-avt-wrap">
      <img class="eb-po-avt" src="http://wx.qlogo.cn/mmopen/ycl3dlo13Ml9hzuINOQgoAd6TibNPSys1vjwvXWdEHHZSic4wukIG13uz3X0KF6hNxtH2dhqd7pyGWQSb9WlFa6GZP7ZqNa3x0/46">
    </div>
    <div class="eb-po-cmt">
      <div class="eb-po-body">
        <div>
          <span class="eb-po-name">fid={{a.fid}}</span>
          <span class="eb-po-course">{{$ctrl.ebData.ebConfig.courseList[a.course]}}</span>
          <span class="eb-po-grade">{{$ctrl.ebData.ebConfig.gradeList[a.grade]}}</span>
        </div>
        <div class="eb-post">
          <p>{{a.content}}</p>
          <p ng-if='a.pics'>
            <img class="eb-list-img" style="height: 80px;"
            
            ng-repeat='img in a.pics.split(",") track by $index'
            ng-src="{{$ctrl.appData.filePath}}/{{img}}">
            
          </p>
        </div>
        <span class="eb-time" am-time-ago='1000*a.publish_at'></span>
        <!--span class=""> 删除 </span>
        <span class=""> 投诉 </span-->
        <img class="eb-c-icon" src="assets/img/cmt.png">
      </div>
      <div class="eb-r"></div>
      <div class="eb-cmt">
        <div class="eb-like"><img src="assets/img/like.png">苍井空，陈冠希，杨幂，王思聪，陈赫，刘德华，张学友，成龙，郭富城，马云</div>
        <div class="eb-cmt-list">
            <p><span>张小龙：</span>版权所有，这么抄不太好吧。</p>
            <p><span>王思聪：</span>我爸有钱。</p>
            <p>
              <span>马云</span>
              回复
              <span>王思聪</span>
              <span>：</span>
              我比你爸有钱。
            </p>
            <p><span>杨幂：</span>月落乌啼霜满天，江枫渔火对愁眠，姑苏城外塞山寺，夜半钟声到客船。</p>
        </div>
      </div>
    </div>
    <div class="eb-po-clear"></div>
  </div>
  
  <div class="weui-cells">
    <a href class="weui-cell weui-cell_link"
    ng-if='$ctrl.ebData.hasMore'
    ng-click='$ctrl.ebData.exploreFeed({oldMore:1})'>
      <div class="weui-cell__bd">加载更多</div>
    </a>
    <a href class="weui-cell weui-cell_link"
    ng-if='!$ctrl.ebData.hasMore'>
      <div class="weui-cell__bd">已显示全部</div>
    </a>
  </div>

</div>


