<div class="ebfeed-list" ng-if='1'>

  <div class="ebfeed-unit" ng-repeat='a in [1,2,3,4,5,6]'>  
    <div class="eb-po-avt-wrap">
      <img class="eb-po-avt" src="http://wx.qlogo.cn/mmopen/ycl3dlo13Ml9hzuINOQgoAd6TibNPSys1vjwvXWdEHHZSic4wukIG13uz3X0KF6hNxtH2dhqd7pyGWQSb9WlFa6GZP7ZqNa3x0/46">
    </div>
    <div class="eb-po-cmt">
      <div class="eb-po-body">
        <p class="eb-po-name">用户名 ab@c~username</p>
        <div class="eb-post">
          <p>内容，内容，内容，内容，content content content content 同学们好，这题好难，看不懂啊~~</p>
          <p>
            <img class="eb-list-img" src="https://img1.gtimg.com/ninja/1/2017/03/ninja149017210778490.jpg" style="height: 80px;">
            <img class="eb-list-img" src="https://inews.gtimg.com/newsapp_ls/0/1309408888_200160/0" style="height: 80px;">
            <img class="eb-list-img" src="https://inews.gtimg.com/newsapp_ls/0/1309408890_200160/0" style="height: 80px;">
            <img class="eb-list-img" src="https://res.wx.qq.com/open/zh_CN/htmledition/res/img/pic/slider/banner_index_pay2168b9.png" style="height: 80px;">
            <img class="eb-list-img" src="https://res.wx.qq.com/open/zh_CN/htmledition/res/img/pic/slider/banner_index_smart22168b9.png" style="height: 80px;">
          </p>
        </div>
        <span class="eb-time">刚刚 2016-2-9</span> &nbsp;
        <!--span class=""> 删除 </span>
        <span class=""> 投诉 </span-->
        <img class="eb-c-icon" src="assets/img/cmt.png">
      </div>
      <div class="eb-r"></div>
      <div class="eb-cmt">
        <div class="eb-like"><img src="assets/img/like.png">苍井空，陈冠希，杨幂，王思聪，陈赫，刘德华，张学友，成龙，郭富城，马云</div>
        <div class="eb-cmt-list">
            <p><span>张小龙：</span>版权所有，这么抄不太好吧。</p>
            <p><span>王思聪：</span>我爸有钱。</p>
            <p>
              <span>马云</span>
              回复
              <span>王思聪</span>
              <span>：</span>
              我比你爸有钱。
            </p>
            <p><span>杨幂：</span>月落乌啼霜满天，江枫渔火对愁眠，姑苏城外塞山寺，夜半钟声到客船。</p>
        </div>
      </div>
    </div>
    <div class="eb-po-clear"></div>
  </div>


</div>


