<appb-ui-oprate-msg 
  ng-if='!fid'
  type='warn' title='参数错误'>
</appb-ui-oprate-msg>

<appb-ui-loading
  ng-if='fid&&serve == -1'>
</appb-ui-loading>

<appb-ui-oprate-msg 
  ng-if='fid&&serve == -2'
  type='warn' title='参数错误或网络错误'>
</appb-ui-oprate-msg>



<ks-swiper-container class="serve-swiper-container"
ng-if='serve.fid'
slides-per-view="1" 
autoplay="1000"
loop="true"
pagination='.swiper-pagination'
show-nav-buttons="false"
initial-slide="3"   space-between="0" pagination-clickable="true">
    <ks-swiper-slide class="swiper-slide" ng-repeat="s in imgs track by $index"
    >
      <div class="swiper-zoom-container">
        <img class='swiper-img' ng-src="{{appData.filePath}}/{{s}}"/>
      </div>
    </ks-swiper-slide>
    
</ks-swiper-container>
          <div class="swiper-pagination"></div>

