
<div id="loadinnngToast" ng-if='$ctrl.FacMap.loading'>
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
      <i class="weui-loading weui-icon_toast"></i>
      <p class="weui-toast__content">数据加载中</p>
  </div>
</div>


<div class="weui-cells__title" ng-hide='1'></div> 
<!-- 上面加一个隐藏的是为了让weui-cells的margin-top=0 -->
<div class="weui-cells weui-cells_form">
 
  <div class="weui-cell weui-cell_vcode">
    <div class="weui-cell__bd">
      <input class="weui-input" type="text" placeholder='输入工厂地址后点击“定位”'
      ng-model="$ctrl.facAddr.addr">
    </div>
    <div class="weui-cell__ft">
      <a href="javascript:;" class="weui-vcode-btn"
      ng-click="$ctrl.searchAddr()">定位</a>
    </div>
  </div>
    
</div>
<div class="map-wrapper">
  <amap-main ></amap-main>
</div>
<p ng-if='$ctrl.facAddr.citycode'>{{$ctrl.facAddr.province}}{{$ctrl.facAddr.city}}{{$ctrl.facAddr.district}}</p>
