<div class="weui-cells">
  <div class="weui-cells__title" ng-if='1'>
  请先输入{{objName}}名字，搜索是否已有数据
  </div>
  <div class="weui-cell">

    <div class="weui-cell__hd">
      <label class="weui-label ng-binding">{{objName}}：</label>
    </div>


    <div class="weui-cell__bd">
      <input class="weui-input" type="input" placeholder="请输入{{objName}}名字" name="input_name"
      ng-minlength='4'
      ng-maxlength='16'

      ng-change='onChange()'
      ng-model="FacMap.addrInput[objType+'name']" >
    </div>
  </div>
</div>

<div class="weui-btn-area">
  <button class="weui-btn weui-btn_primary"
  ng-click="onFindFac()"
  ng-class="{'weui-btn_disabled':!FacMap.addrInput[objType+'name'] || isLoading>0}"
  ng-disabled='!FacMap.addrInput[objType+"name"] || isLoading>0'
  >搜索是否已有数据
  </button>
</div>

<appb-ui-loading ng-if='isLoading>0'></appb-ui-loading>

<div ng-if='searchDone && facList.length==0'>
<appb-weui-cells
  title='未找以下{{objName}}}的数据'
  cells="[
    {text:FacMap.addrInput[objType+'name'],url:onNewFac,icon:'plus',notes:'点击此处创建'},
  ]"
>
</appb-weui-cells>
  <button class="weui-btn weui-btn_primary"
  ng-click="onNewFac()"
  >创建
  </button>
</div>

<fac-list
  ng-if='searchDone && facList.length' 
  
  title='"已找到以下数据"'
  type=' "stee"+objType '
  fac-list='facList'
  
  page-number= '0'
  page-size= '100'
>
</fac-list>

  <div class="weui-cells__title" ng-if='facList.length>9'>
  还有更多数据，请输入更具体的名字，以减少搜索结果。
  </div>

