<setpagetitlerow qgs="修改密码"></setpagetitlerow>
<div class="xs-padding5" ng-controller="PasswordCtrl">
  <div class="xs-padding5" ng-click="bodyclick()">
    <div class="panel panel-default">
      <ul class="list-group hh5">
        <li class="list-group-item overflow-auto">
          <div class="padding5 input-row hh4">原密码 <input type="password" class="form-control" ng-model="p0" placeholder="未设定密码的不填"></div>
          <div class="padding5 input-row hh4">新密码 <input type="password" class="form-control" ng-model="p1" placeholder="输入新密码"></div>
          <div class="padding5 input-row hh4 {{p1!=p2 && 'has-error'}}">新密码 <input type="password" class="form-control" ng-model="p2" placeholder="确认新密码"></div>
        </li>
      
        <!-- 按钮 -->      
        <li class="list-group-item answer-box text-cen-ter">
         　　 　　 <button class="btn btn-warning" ng-click="changepassword()">提交</button>
          <span class="pull-right color-f00">{{prompt}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

