
  <!-- 确定对话框 -->
  <div class="dialog-bk opacity-50" ng-show="dlg.showing"></div>
  <div class="dialog-body xs-padding5" ng-show="dlg.showing">
    <img ng-src="../images/busy.gif" ng-if="dlg.showbusy">
    <h5 class="text-center" ng-repeat="row in dlg.h5s">{{row}}</h5>
    <h3 class="text-center" ng-if="!dlg.btns">
      <button class="btn btn-primary" ng-click="dlg.OK()">{{dlg.OKtext ||'确定'}}</button> 　 　
      <button class="btn btn-primary" ng-click="dlg.showing = 0">{{dlg.CANCELtext ||'取消'}}</button>
    </h3>
    <h3 class="text-center" ng-if="dlg.btns">
      <aaa ng-repeat="btn in dlg.btns">
      <button class="btn {{btn.css || 'btn-primary'}} margin5" ng-click="userclick(btn)">{{btn.text}}</button>
      {{btn.sep}}
      </aaa>
    </h3>
  </div>