
  <img ng-src="{{user.headimgurl}}" ng-click="previewself(user.headimgurl)">
  <div class="name">{{user.attr.name || user.name}}{{ (user.nickname && ( ' ('+ (user.nickname|cut:0:8)+')')) || ''}}</div>
  <div class="id">ID:{{user.id}} 　
    {{user.hhh&&'活跃度'+user.hhh ||''}}
    {{user.ep&&'专家分'+ (user.ep|money) ||''}}
    {{user.ref&&'关联人数'+user.ref ||''}}
    <span ng-if="user.expertpoints">专家分：<span class="fee">{{user.expertpoints|money}}</span></span>
  </div>
  <div class="major">{{ ((user.userstate=='3' && '用户')||'') + ((user.expertstate=='3' && '　专家')||'') + ((user.servicestate=='3' && '　编导')||'')}}</div>
  <div class="tel" ng-show="user.mobile"><span class="glyphicon glyphicon-phone-alt"> {{user.mobile}}</div>