body,html{height:100%;-webkit-tap-highlight-color:transparent}
html {
  /* font-size: 14px !important; */
}
body, div, span {
  font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
body {
  /* font-size: 14px; */
  overflow: auto;
  background-color:#fbf9fe;
  margin-bottom: 0px;/* Margin bottom by footer height */
}

/* ======================
start #main-header 
========================*/
#main-header,#main-footer,#main-container {
  position: absolute;
  width: 100%;
}
.main-header_container {
  z-index: 5;
  top: 0;
  height:44px;
  background-color:#f90;
}
.main-header_container ,
.main-header_container a{
  color:#fff;
}


.main-header_container .left ,
.main-header_container .right,
.main-header_container .center {
  height:44px;
  line-height:44px;
  padding-left:10px;
  padding-right:10px;
}
.main-header_container .left {
  float: left;
}
.main-header_container .left a,
.main-header_container .left span {
  font-size:18px;
}
.main-header_container .right {
  float: right;
}
.main-header_container .right a,
.main-header_container .right span {
  font-size:16px;
}
.main-header_container .center {
  text-align:center;
  overflow:hidden;
}
.main-header_container .center a,
.main-header_container .center span {
  font-size:20px;
}
.main-header_container {
  display: inline-block;
  height:44px;
  width: 100%;
  vertical-align: middle;
}
.main-header_container img {
  background: #3A6F9A;
  vertical-align: middle;
  max-height: 32px;
  max-width: 160px;
}

.main-header_container i{ 
  cursor:pointer;
}
/* ======================
 END #main-header 
========================*/


/* ======================
start #main-container 
========================*/
#main-container{
  position: absolute;
  height:auto !important;
  top: 44px;
  bottom:55px;
  overflow: auto;
  background-color:#eee;
}
#main-header + #main-container {
  top: 44px;
  -webkit-overflow-scrolling : touch;
}

body{
  color:#222;
}

/* 用于 #main-container 内再嵌一层，捕捉滚动事件用 */
.main-content-wrapper {
  position: absolute;
  width: 100%;
  top:0px;
  bottom:0px;
  overflow: auto;
}
/* ======================
END #main-container 
========================*/


/* ======================
start #main-footer 
========================*/
#main-footer{
  z-index: 500;
  bottom: 0;
  height:54px;
  border-top:1px solid #ddd;
  background-color:#fff;
}
.main-tabs {
  width:100%;
  display: table;
  table-layout: fixed;
  cursor:pointer;
  padding-top:0px;
}
.main-tab {
  height:41px;
  display: table-cell;
  text-align:center;
  padding-top:4px;
}
.main-tab a,
.main-tab span{
  color:#222;
  display:block;
  font-size:16px;
}
.main-tab  i{
  color:#222;
  font-size:16px;
}
.main-tab_active a,
.main-tab_active span,
.main-tab_active i{
  color:#f90;
}
/* ======================
 END  #main-footer 
========================*/

/* --- 底部输入框 总高度50, 同#main-footer(叠在其上方) -------*/
.appb-input-bar {
  position: absolute;
  width: 100%;

  z-index: 600;
  bottom: 0;
  height:44px;
  font-size:18px;
  padding-top: 2px;
  padding-bottom: 3px;
  border-top:1px solid #ddd;
  background-color:#fff;
}
.appb-input-bar-btn {
  padding: 3px 12px 3px 10px;
  margin : 5px 5px 4px;
}
.appb-input-bar-btn-disabled {
  color: #888;
  background-color:#fff !important;
}
.appb-input-bar-icon {
  color: #1AAD19;
}
/* --- tab align ------- */
.table-display {
  display: table;
  width:100%;
}
.table-cell{
  display: table-cell;
  text-align:center;
}


/*-------------------- 
 来自bs  
======================*/

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}


.img-rounded {
  border-radius: 15px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}


.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.cur-pointer {
  cursor:pointer;
}

/*====================== 
  weui plus
======================*/
.toast-msg{
  display: flex;
  justify-content: center;
}
.toast-msg__round {
    position: fixed;
    z-index: 5000;
    min-width: 4em;
    padding-left:1.5em;
    padding-right:1.5em;
    height: 3em;
    line-height: 3em;
    bottom: 80px;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 1.4em;
    color: #FFFFFF;
}
.appb-btn-main {
  font-size:20px;
  color: #3CC51F;;
}

/*
.weui-uploader__file_status class 效果是 0.5灰度 盖住背景图的，
上传后就不要灰度盖了，要背景图全亮的效果。
但是没有边框了，用.weui-uploader__file_uploadok 加个框
*/
.weui-uploader__file_uploadok {
  border:1px dashed #bbe;
}

/*按背景图显示图片的*/
.img-bg-contain {
  background: center center no-repeat;
  background-size: contain;
}

.gallery__opr {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background-color: #0D0D0D;
    color: #FFFFFF;
    line-height: 60px;
    text-align: center;
}
.gallery__opr a {
  
    color: #FFFF0F;
    font-size:20px;
}
.gallery__icon {
  padding:0 20px;
}

/*swiper for appb-ui-gallery*/
.weui-gallery .swiper-container {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0px;
  left: 0;
}
.swiper-pagination-bullet {
  background: #bb9;
}




