  <div class="fac-fix-top">
    <amap-main ></amap-main>
  </div>
  <div ng-class='{"fac-fix-scroll":$ctrl.searchData.result.length}'>
    <search-ui-options 
    search-data="$ctrl.searchData"  search-type='$ctrl.searchType'
    ng-if='!$ctrl.searchData.searchResult[$ctrl.searchType].length'></search-ui-options>
    <search-ui-result
      ng-if='$ctrl.searchData.searchResult[$ctrl.searchType]'
      search-data="$ctrl.searchData"   search-type='$ctrl.searchType'
      result-ver='$ctrl.searchData.searchResult[$ctrl.searchType+".ver"]'
      page-number='$ctrl.searchData.showPageNumber[$ctrl.searchType]' page-size='$ctrl.searchData.showPageSize'
    ></search-ui-result>
  </div>
  <fac-ui-copyright></fac-ui-copyright>
