
<div id="loadinnngToast" ng-if='$ctrl.searchData.searching'>
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
      <i class="weui-loading weui-icon_toast"></i>
      <p class="weui-toast__content">数据加载中</p>
  </div>
</div>

<div class="weui-cells__title" ng-hide='1'></div> 
<!-- 上面加一个隐藏的是为了让weui-cells的margin-top=0 -->
<div class="weui-cells weui-cells_form">
  <div class="weui-cell weui-cell_switch">
    <div class="weui-cell__bd">在地图范围内搜索</div>
    <div class="weui-cell__ft">
      <input class="weui-switch" type="checkbox"
      ng-model="$ctrl.searchData.options.searchInsideMap"/>
    </div>
  </div>

  <div class="weui-cell weui-cell_select weui-cell_select-after"
  ng-if='!$ctrl.searchData.options.searchInsideMap'> 
    <div class="weui-cell__hd" >
      <label for="" class="weui-label">搜索周边距离</label>
    </div>
    <div class="weui-cell__bd" >
      <select class="weui-select" name="input_dist"  
      ng-model='$ctrl.searchData.options.distSelect' >
        <option ng-repeat='t in $ctrl.searchData.distText '
          value="{{$index}}">{{t}}</option>
      </select>
    </div>    
  </div>

  
  <div class="weui-cell">
    <div class="weui-cell__hd"><label class="weui-label">关键字</label></div>
    <div class="weui-cell__bd">
      <input class="weui-input" type="text" placeholder='{{$ctrl.searchData.searchPlaceholder}}'
      ng-model="$ctrl.searchData.searchWord">
    </div>
  </div>
 

 
    
</div>
<div class="weui-btn-area">
  <a class="weui-btn weui-btn_primary" href="" ng-click="$ctrl.searchData.startSearch('steefac')">搜索钢构产能</a>
  <a class="weui-btn weui-btn_primary" href="" ng-click="$ctrl.searchData.startSearch('steeproj')">搜索项目信息</a>
</div>