  <amap-main ></amap-main>
  <div>
  
  
    <!-- 1,搜索选项 -->
    <search-ui-options 
    search-data="$ctrl.searchData"  search-type='$ctrl.searchType'
    ng-if='!$ctrl.searchData.searchResult[$ctrl.searchType+".ver"]'></search-ui-options>
    
    <!-- 2,搜索结果 -->
    <search-ui-result
      ng-if='$ctrl.searchData.searchResultSelected <0 '
      search-data="$ctrl.searchData"   search-type='$ctrl.searchType'
      result-ver='$ctrl.searchData.searchResult[$ctrl.searchType+".ver"]'
      page-number='$ctrl.searchData.showPageNumber[$ctrl.searchType]' page-size='$ctrl.searchData.showPageSize'
    ></search-ui-result>
    
    <!-- 3,选中一项 -->
    <search-ui-select-one 
      ng-if=' $ctrl.searchData.searchResultSelected >=0'
      search-type='$ctrl.searchType'
      object-selected="$ctrl.searchData.searchResult[$ctrl.searchData.searchType][$ctrl.searchData.searchResultSelected]"
    ></search-ui-select-one>
    <appb-weui-cells 
      ng-if=' $ctrl.searchData.searchResultSelected >=0'
      title='' cells="[
      {text:'返回搜索列表',icon:'chevron-left',notes:'',
        url: $ctrl.searchData.hideInfoWindow},
      ]" 
    >
    </appb-weui-cells>



    <fac-ui-copyright></fac-ui-copyright>
  </div>
