<appb-ui-loading ng-if='!detail.init'></appb-ui-loading>

<div  ng-if='detail.init'>
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
      <h4 class="weui-media-box__title">{{fac.name}}</h4>
      <p class="weui-media-box__desc">
      {{fac.addr}}<br ng-if='fac.addr'/>
      更新于<a am-time-ago='1000*fac.update_at'
        href=''></a>
      
        
      </p>
    </div>
  </div>
  <div class="weui-panel__ft" ng-if='user.isSysAdmin()'>
    <a href="#!/proj-edit?id={{id}}" class="weui-cell weui-cell_access weui-cell_link">
      <div class="weui-cell__bd">系统管理员：修改项目资料</div>
      <span class="weui-cell__ft"></span>
    </a>    
  </div>
</div>

<appb-weui-cells
title='项目信息'
cells="[
  {text:'项目类型',url:'',icon:'area-chart',notes:fac.type+''},
  {text:'项目规模',url:'',icon:'area-chart',notes:fac.size+'㎡'},
  {text:'估计用钢量',url:'',icon:'area-chart',notes:fac.need_steel+'吨'},
  {text:'用钢周期',url:'',icon:'area-chart',notes:fac.in_month_t+''},
]"
>
</appb-weui-cells>

<appb-weui-cells
title='联系方式'
cells="[
  {text:fac.formatted_address,url:'',icon:'address-card',notes:''},
  {text:'联系人',url:'',icon:'user-circle',notes:fac.contactor},
  {text:'联系电话',url:'',icon:'phone',notes:fac.contact_tel},
  {text:'联系邮箱',url:'',icon:'envelope',notes:fac.contact_email},
]"
>
</appb-weui-cells>



<div>
