/* 动态表单组件 */

dj-form input{
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.47058824em;
  line-height: 1.47058824;
}

dj-form-item {
  font-size: inherit;
  margin-bottom: .15rem;
}
dj-form-item > * {
  font-size: inherit;
}
dj-form-item > * > *{
  font-size: inherit;
}

