<!-- 用户管理首页 -->
<div class="weui-cells__title flex">
</div>

<div class="weui-panel weui-panel_access">
</div>

<div class='weui-cells'>
  <div class="weui-cells__title">超级管理员</div>

  <a ng-path="/user-activity" search="{day:2}" class="weui-cell weui-cell_access">
    <div class="weui-cell__hd ng-scope">
      <i class="fa fa-bar-chart"></i>
    </div>
    <div class="weui-cell__bd">活跃度查询</div>
    <div class="weui-cell__ft"></div>
  </a>

  <a ng-path="/user-search" class="weui-cell weui-cell_access">
    <div class="weui-cell__hd ng-scope">
      <i class="fa fa-user-circle"></i>
    </div>
    <div class="weui-cell__bd">用户搜索</div>
    <div class="weui-cell__ft"></div>
  </a>

</div>