<appb-ui-loading ng-if='isLoading>0'></appb-ui-loading>


<div class="weui-panel weui-panel_access" ng-if='isLoading<=0'>
  <div class="weui-panel__bd">
  
    <div class="weui-media-box weui-media-box_text"
    ng-if='type=="steefac"'>
      <h4 class="weui-media-box__title">{{fac.name}}</h4>
      <a href='#!/obj-detail?type={{type}}&id={{id}}' class="weui-btn weui-btn_mini weui-btn_primary pull-right">查看详情</a>
      <p class="weui-media-box__desc">
      {{['特','一','二','三'][fac.level]}}级资质，
      加工费: 平均{{fac.feeObj.aver}}元/吨<br/>
      
      更新于<a am-time-ago='1000*fac.update_at'
        href=''></a>
        
      </p>
    </div>
    
    <div class="weui-media-box weui-media-box_text"
    ng-if='type=="steeproj"'>
      <h4 class="weui-media-box__title">{{fac.name}}</h4>
      <a href='#!/steeproj-detail?id={{id}}' class="weui-btn weui-btn_mini weui-btn_primary pull-right">查看详情</a>
      <p class="weui-media-box__desc">
      {{fac.addr}}<br ng-if='fac.addr'/>
      更新于<a am-time-ago='1000*fac.update_at'
        href=''></a>
      </p>
    </div>
    
  </div>
  

</div>


<div class="weui-cells">


  <div class="weui-cells__title" ng-if='1'>评论
  <a href='#!/stee-feed-add?type={{type}}&id={{id}}' class=" pull-right">发表评论</a>
  </div>
</div>

<appb-feed-list  
  ng-if='isLoading<=0'
  hide-poster="0",

  feed-app='feedApp' 
  feed-cat='feedCat'>
</appb-feed-list>



<fac-ui-copyright></fac-ui-copyright>
