<div class="weui-pagination" ng-if='$ctrl.pgData'>
  <div class="weui-pagination__item weui-pagination__prev">
    <a class="weui-btn weui-btn_primary weui-btn_mini"
      ng-click='$ctrl.pgData.onFirst()'
    >{{$ctrl.pgData.first}}</a>
  </div>
  <div class="weui-pagination__item weui-pagination__prev">
    <a class="weui-btn weui-btn_primary weui-btn_mini"
      ng-click='$ctrl.pgData.onPrev()'
    ><i class="iconfont icon-left"></i> {{$ctrl.pgData.prev}}</a>
  </div>
  <div class="weui-pagination__item weui-pagination__num">{{$ctrl.pgData.current}}/{{$ctrl.pgData.max}}</div>
  <div class="weui-pagination__item weui-pagination__next">
    <a class="weui-btn weui-btn_primary weui-btn_mini"
      ng-click='$ctrl.pgData.onNext()'
    >{{$ctrl.pgData.next}} <i class="iconfont icon-right"></i></a>
  </div>
  <div class="weui-pagination__item weui-pagination__next">
    <a class="weui-btn weui-btn_primary weui-btn_mini"
      ng-click='$ctrl.pgData.onLast()'
    >{{$ctrl.pgData.last}}</i></a>
  </div>
</div>
    