<!-- 对话框组件 -->
<div ng-if="dialogShow">
  <div class="weui-mask" ng-click="clickBack()"></div>
  <div class="weui-dialog">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title" ng-transclude="title">
      {{dlgTitle}}
    </strong></div>
    <div class="weui-dialog__bd" ng-transclude="body">
      {{dlgBody}}
    </div>
    <div class="weui-dialog__ft" ng-transclude="footer">
      <span class="weui-dialog__btn weui-dialog__btn_default"
        ng-click="cancel()">取消</span>
      <span class="weui-dialog__btn weui-dialog__btn_primary"
        ng-click="OK()">确定</span>
    </div>
    </div>
  </div>
</div>