<!-- 用户活跃度 -->
<div class="weui-cells__title">
  <a ng-if='param.day'>{{param.day}}天</a>
  <a ng-if='param.hour'>{{param.hour}}小时</a>
  的用户活跃度</div>

<div class="weui-cells" ng-if='loading'>
  <div class="weui-cell">
    <div class="weui-loadmore-XX">
      <i class="weui-loading"></i>
      <span class="weui-loadmore__tips">正在加载</span>
    </div>
  </div>
</div>

<div class="weui-panel weui-panel_access" ng-if='userData.isAdmin() && !loading'>
  <div class="weui-panel__bd">
    <a href class="weui-media-box weui-media-box_appmsg" ng-repeat='ua in list track by $index'>
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" ng-src="{{ua.wxinfo.headimgurl}}" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">
          <span ng-if='ua.wxinfo'>
            {{ua.wxinfo.nickname}}
          </span>
          <span ng-if='!ua.wxinfo'>
            {{ua.uname}}
          </span>
          <span>( ID:{{ua.uid}} )</span>
        </h4>
        <p class="weui-media-box__desc">活跃度：{{ua.n}}</p>
      </div>
    </a>

    <div class="weui-footer text-3 rem-12" padding=".20rem" scroll-refresh="checkTop($isTopMost)" on-visible="loadMore($element, $top, $isTopMost)"
      ng-if="page.minSize < page.totle">
      <span class="text-warning" ng-if="list.length < page.totle">已加载 {{list.length}}/{{page.totle}} 条数据，正在加载...</span>
      <span class="text-3" ng-if="list.length >= page.totle">{{allLoaded>3 && '还拉呀！ 这真的是底线啦' || allLoaded>1 && '别再拉了！　这是底线' || '哦，到底了'}}</span>
      <div goto-top-most ng-if="!isTopMost">要回到顶部！</div>
    </div>
    <div class="weui-footer text-3 rem-12" padding=".20rem" ng-if="!list.length">
      没找到
    </div>
  </div>

</div>