<div  ng-if='1'>
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
      <a class='pull-right' href='#!/stee-feed-show?type=steeproj&id={{$ctrl.id}}'><i class="fa fa-comments" aria-hidden="true"></i></a>
      <h4 class="weui-media-box__title">{{$ctrl.fac.name}}</h4>
      <p class="weui-media-box__desc">
      {{$ctrl.fac.addr || $ctrl.fac.formatted_address}}<br />
      更新于<a am-time-ago='1000*$ctrl.fac.update_at'
        href=''></a>
      
        
      </p>
    </div>
  </div>
  
  <div class="weui-panel__ft" ng-if='!$ctrl.uids.length'>
    <a href="" class="weui-cell weui-cell_access weui-cell_link"
      ng-click='$ctrl.FacUser.applyAdmin("steeproj",$ctrl.fac)'
    >
      <div class="weui-cell__bd">我要成为这个项目信息的管理员</div>
      <span class="weui-cell__ft"></span>
    </a>    
  </div>

</div>



<appb-weui-cells ng-if='$ctrl.canEdit'
title='高级管理功能'
cells="[
  {text:'修改详细资料',url:'/fac-edit?type=steeproj&id='+$ctrl.id,icon:'user-plus',notes:''},
]"
>
</appb-weui-cells>

<fac-ui-user-list
  ng-if='$ctrl.canEdit && $ctrl.uids.length'
  title='"管理员："'
  uids='$ctrl.uids' users-info='$ctrl.usersInfo'
>
</fac-ui-user-list>



<appb-weui-cells
title='项目信息'
cells="[
  {text:'项目类型',url:'',icon:'area-chart',notes:$ctrl.fac.type+''},
  {text:'项目规模',url:'',icon:'area-chart',notes:$ctrl.fac.size+'㎡'},
  {text:'采购量',url:'',icon:'area-chart',notes:$ctrl.fac.need_steel+'吨'},
  {text:'主要构件形式',url:'',icon:'area-chart',notes:$ctrl.fac.steel_shape+''},
  {text:'主材牌号',url:'',icon:'area-chart',notes:$ctrl.fac.steel_Qxxx+''},
  {text:'首批供货时间',url:'',icon:'area-chart',notes:$ctrl.reqInMonth+''},
  {text:'基准单吨价',url:'',icon:'area-chart',notes:$ctrl.fac.stee_price+'元/吨'},
  {text:'预付款比例',url:'',icon:'area-chart',notes:$ctrl.fac.advance_pay*100+'%'},
  {text:'供主材',url:'',icon:'area-chart',notes:$ctrl.fac.provide_raw?'是':'否'},
  {text:'合格供应商',url:'',icon:'area-chart',notes:$ctrl.fac.require_check+''},
]"
>
</appb-weui-cells>

<appb-weui-cells
title='联系方式'
cells="[
  {text:$ctrl.fac.formatted_address,url:'',icon:'address-card',notes:''},
  {text:'联系人',url:'',icon:'user-circle',notes:$ctrl.fac.contact_person},
  {text:'联系电话',url:'',icon:'phone',notes:$ctrl.fac.contact_tel},
  {text:'联系邮箱',url:'',icon:'envelope',notes:$ctrl.fac.contact_email},
]"
>
</appb-weui-cells>

<appb-weui-cells
title='补充说明'

cells="[
  {text:$ctrl.fac.notes,url:'',icon:'commenting-o',notes:''},
]"
>
</appb-weui-cells>

<div>
