<!-- 项目详情页面 -->

<amap-main ng-hide="hideMap"></amap-main>
<div class="page-project-detail flex-grow">
  <tab-bar list="tab.list" active="{{tab.active}}" tab-click="tab.click($n)" item-css="text-gray"></tab-bar>
  <div class="detail detail-{{tab.active}}">
    <project-detail-profile fac="fac" ng-if="tab.active==0"></project-detail-profile>
    <project-detail-capacity fac="fac" ng-if="tab.active==1"></project-detail-capacity>
    <appb-feed-list ng-if="tab.active==2"
      hide-poster="hidePoster",
      feed-app="'steeFacCase'"
      feed-cat="'fac_case_' +fac.id">
    </appb-feed-list>
  </div>
</div>
