<!-- 项目详情页面 -->

<amap-main ng-hide="hideMap"></amap-main>
<div class="page-project-detail flex-grow">
  <tab-bar list="tab.list" ng-if="tab.list.length" active="{{tab.active}}" tab-click="tab.click($n, item)" item-css="text-gray"></tab-bar>
  <div class="detail detail-{{tab.active}}">
    <project-close-show fac="fac" ng-if="tab.item.name=='close'"></project-close-show>
    <project-detail-profile fac="fac" ng-if="tab.item.name=='profile'"></project-detail-profile>
    <project-detail-capacity fac="fac" ng-if="tab.item.name=='detail'"></project-detail-capacity>
    <dj-comment-list ng-if="tab.item.name=='comment' && fac.id" param="commentParam">
    </dj-comment-list>
    <appb-feed-list ng-if="tab.active==2222"
      hide-poster="0",
      feed-app="'steeComment'"
      feed-cat="'steeproj' +fac.id">
    </appb-feed-list>
    <div class="float-rb" ng-if="tab.active==2222">
      <a ng-href="#!/stee-feed-add?type=steeproj&id={{fac.id}}" class="my-btn box-primary">我要评论</a>
    </div>

    <fac-ui-user-list ng-if="tab.active=='show-admin-list'"
      title='"管理员："'
      uids='adminList.uids' users-info='adminList.usersInfo'
    >
    </fac-ui-user-list>


  </div>
</div>
