/* 主页面 */
.main-modules{
  display: flex;
  background: #fff;
  border-top: solid 1px #ccc;
  padding: 0.6em;
}
.main-modules .module{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-modules .module>*{
  align-self: center;
}
.main-modules .module>img{
  width: 3.2em;
  height: 3.2em;
}
.main-modules .module> span{
  padding: 0.5em 0 0 0;
}


/* 数据模块 */
.main-datainfo{
  display: flex;
  background: #F3F8FC;
  padding: 0.6em;
}
.main-datainfo >*{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  margin: 0.5em;
  background: #fff;
  border-radius: 0.3em;
  box-shadow: 2px 2px 2px #ccc;
  padding: 0.8em 0;
}
.main-datainfo >* >*{
  display: flex;
  align-self: center;
}
.main-datainfo >* >.name{
  color: #666666;
}
.main-datainfo >* >.info{
  color: #3f81f2;
  align-items: baseline;
}
.main-datainfo >* .n{
  font-size: 1.5em;
}