/* 主页面 */

/* 轮播 */
.main-swiper{
  padding: 0.5rem 0;
  background: #fff;
}
.main-swiper .box{
  width: 100%;
  height: 36vw;
  max-height: 200px;
  padding:0;
}
/*横屏*/
@media only screen and (orientation:landscape) {
  .main-swiper .box{
    width: 100%;
    height: 36vw;
    max-height: 200px;
    padding:0;
  }
}
/* .main-swiper .box.swiper-slide-next{ */
  /* left: -15%; */
/* } */
/* .main-swiper .box.swiper-slide-prev{ */
  /* left: 15%; */
/* } */
.main-swiper .box img{
  width: 100%;
  height: 100%;
  /* margin: 0 10% ; */
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px #ccc;
  object-fit:cover;
}


/* 模块功能条 */
.main-modules{
  display: flex;
  background: #fff;
  border-top: solid 2px #ccc;
  padding: 0.5rem 0.732rem;
  font-size: 0.9rem;
}
.main-modules .module{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-modules .module>*{
  align-self: center;
}
.main-modules .module>img{
  width: 3.2rem;
  height: 3.2rem;
}
.main-modules .module> span{
  padding: 0.3rem 0 0 0;
}


/* 数据模块 */
.main-datainfo{
  display: flex;
  justify-content: space-between;
  background: #F3F8FC;
  padding: 0.5rem 0.732rem;
  font-size: 0.9rem;
}
.main-datainfo >*{
  width: calc(33.3333% - 5px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px #ccc;
  padding: 0;
  height: 5.6rem;
  justify-content: space-around;
}
.main-datainfo >* >*{
  display: flex;
  align-self: center;
}
.main-datainfo >* >.name{
  color: #666666;
}
.main-datainfo >* >.info{
  color: #3f81f2;
  align-items: baseline;
  line-height: 1;
}
.main-datainfo >* .n{
  font-size: 1.5em;
}

/* 最新产能列表 */
/* 最新项目列表 */
.main-fac-list{
  background: #fff;
  border-bottom: solid 1px #efefef;
  font-size: 1rem;
}
.main-fac-list .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem .732em;
  border-bottom: solid 1px #efefef;
}
.main-fac-list .title-text{
  font-size: 1.3em;
  border-left: solid 0.25em #3F81F2;
  padding-left: 0.75em;
  line-height: 1.1;
  height: 1.1em;
  font-weight: 900;
}

.main-fac-list .item{
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.5rem .732em;
  border-bottom: solid 1px #efefef;
}

.main-fac-list .item .left{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 0.732rem;
  font-size: 1.15rem;
}

.main-fac-list .item .text{
  color: #666666;
  margin-top: -0.3em;
  height: 3.36em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.68;
  overflow: hidden;
}
.main-fac-list .item .fa-clock-o{
  color: #808080;
}

.main-fac-list img{
  width: 9.03em;
  height: 5.61em;
  object-fit:cover;
}




/* 最新项目列表 */
.main-fac-list.list2{
  margin-top: 1.2rem;
}  
.main-fac-list.list2  .items {
  padding: 0.5rem calc(.732em - 5px);
}
.main-fac-list.list2 .appb-grid{
  padding-bottom: 1rem;
}
.main-fac-list.list2 .appb-grid--name{
  text-align: left;
  color: #666666;
  font-size: 1.1rem;
  height: 2.5em;
  line-height: 1.3;
  padding:0;
}


/* 采购商 */
.main-cgs{
}
.main-cgs .title{
  text-align: center;
  color: #FC9744;
  font-size: 1.667rem;
  font-weight: 900;
  padding: 10px;
}
.main-cgs .title .text{
  color: #3F81F2;
}
.main-cgs img{
  width: 100%;
}
.main-cgs-more{
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}