<appb-ui-rect img="$ctrl.headImg" h='60' max-height='"300px"'></appb-ui-rect>
<buyer-grids
  ng-if='!$ctrl.isLoading' 
  
  title='$ctrl.title0'
  buyer-list='$ctrl.buyerList'
  links='$ctrl.links'
>
</buyer-grids>

<fac-grids
  ng-if='!$ctrl.isLoading' 
  
  title='$ctrl.title1'
  type='$ctrl.type1'
  fac-list='$ctrl.facList1'
>
</fac-grids>

<fac-grids
  ng-if='!$ctrl.isLoading' 
  
  title='$ctrl.title2'
  type='$ctrl.type2'
  fac-list='$ctrl.facList2'
>
</fac-grids>

<fac-ui-copyright></fac-ui-copyright>
