<appb-ui-rect img="$ctrl.headImg" h='60' max-height='"300px"'></appb-ui-rect>

<div class="main-modules">
  <div class="module" ng-repeat="item in moduleInfo">
    <img ng-src="{{item.src}}">
    <span>{{item.text}}</span>
  </div>
</div>

<div class="main-datainfo">
  <div class="item" ng-repeat="item in dataInfo">
    <div class="name">{{item.name}}</div>
    <div class="info"><div class="n">{{item.n}}</div><div class="t">{{item.t}}</div></div>
  </div>
</div>


<div class="main-fac-list">
  <div class="title weui-cell_access">
    <span class="title-text">{{$ctrl.title1}}</span>
    <div class="weui-cell__ft">查看更多</div>
  </div>
  <a class="item" ng-repeat="item in $ctrl.facList1">
    <div class="">
      <h4 class="text">{{item.name}}，{{item.addr}}，{{item.goodat}}</h4>
      <i class="fa fa-clock-o"> 一年内</i>
    </div>
    <img ng-src="../assets/img/img-steefac/def-steefac.jpg" alt="">
  </a>
</div>



<fac-grids
  ng-if='!$ctrl.isLoading' 
  
  title='$ctrl.title1'
  type='$ctrl.type1'
  fac-list='$ctrl.facList1'
>
</fac-grids>



<buyer-grids
  ng-if='!$ctrl.isLoading' 
  
  title='$ctrl.title0'
  buyer-list='$ctrl.buyerList'
  links='$ctrl.links'
>
</buyer-grids>


<fac-grids
  ng-if='!$ctrl.isLoading' 
  
  title='$ctrl.title2'
  type='$ctrl.type2'
  fac-list='$ctrl.facList2'
>
</fac-grids>

<fac-ui-copyright></fac-ui-copyright>
