/*  九宫格视图  */

.nine-icon-box { width: 100vw; padding: 2vw; } 
@media (max-width:767px){
  .nine-icon-box .nine-icon { width: 20vw; text-align: center;  margin: 4vw 2vw; border: solid 1px #ccc; background-color: #fff; border-radius: 0.3em; }
  .nine-icon-box .nine-icon .icon{ display: inline-block; padding: 1vw; height: 9vw; width: 9vw; margin: 2vw 0 0; background-color: #cb5a22; border-radius: 50%;}
  .nine-icon-box .nine-icon .icon img{ height: 7vw; width: 7vw; }
  .nine-icon-box .nine-icon .text{ text-align: center; padding: 2px; color: #555;height: 1.6em; overflow: hidden;}
}

/* 页头导航栏（PC） */
@media (min-width:768px){
  .nine-icon-box { width: 100%; padding: 1em; } 
  .nine-icon-box .nine-icon { width: 9em; margin: 2em 1em; text-align: center; border: solid 1px #ccc; background-color: #fff; border-radius: 0.3em; }
  .nine-icon-box .nine-icon .icon{ display: inline-block; padding: 1em 0; height: 5em; width: 5em; margin: 2vw 0 0; background-color: #cb5a22; border-radius: 50%;}
  .nine-icon-box .nine-icon .icon img{ height: 4em; width: 4em; }
  .nine-icon-box .nine-icon > .text{ text-align: center; font-size: 1.2em; padding: .8em 0; }

}

