<setpagetitlerow qgs="提问列表"></setpagetitlerow>
<div ng-controller="MyAskListCtrl">
  <!--  搜索  -->
  <div class="padding5 bk-c50 search-box">
    <input type="text" class="form-control" ng-model="D.searchtext">
    <span class="fa fa-search icon" ng-click="D.search()"> </span>
  </div>

  <!--  分类列表 - 导航  -->
  <div class="row-nav bk-c50">
    <nobr>
      <span class="item {{sub.en==D.en && 'active'}}" ng-click="D.setsublist(sub.en)" ng-repeat="sub in D.sublist">
        {{sub.cn}}
        <div class="n" ng-show="sub.n">{{sub.n}}</div>
      </span>
    </nobr>
  </div>

  <!--  列表  -->
  <div class="color-list-item bk-row{{($odd&&1)||2}}" ng-repeat="qa in D.list">
    <a class="color-000" href="#/frame/user-qa-show?qaid={{qa.id}}" ng-include="API.templateUrl('page/qa/qa-list-item.html')"></a>
  </div>

  <!--  分页  -->
  <div class="text-center float-page-nav">
    <span ng-click="gotopage(n)" class="n {{n==page.pagenow && 'active'}}" ng-repeat="n in page.pageturn">{{(n==1&&'《')||(n==page.pagecount&&('》'))||n}}</span>
  </div>
  
  <div ng-show="D.list.length==0" class="text-primary h4 text-center">
    <a href="#/frame/toask" class="btn btn-primary">我要提问</a>
  </div>
  
</div>