<!-- 搜索页面 -->
<div class="page-search-view flex-grow">
  <amap-main ng-hide="hideMap"></amap-main>

  <div class="flex result-toolbar">
    <div class="flex-cc flex-center" next="down">
      <select class="weui-select" ng-model="search.distSelect" ng-change="research()">
        <option ng-repeat="t in FacSearch.distText" value="{{$index}}">{{t}}</option>
      </select>
    </div>
    <div class="flex-cc flex-center" next="down">
      <select class="weui-select" ng-model="search.level" ng-change="research()">
        <option value="all">资质不限</option>
        <option ng-repeat="t in FacSearch.levelDick" value="{{$index}}">{{t}}资质</option>
      </select>
    </div>
    <div class="flex-cc flex-center" next="down">
      <select class="weui-select" ng-model="search.orderBy" ng-change="research()">
        <option value='auto'>智能排序</option>
        <option>按更新排序</option>
        <option>按距离排序</option>
        <option>按产能排序</option>
      </select>
    </div>
    <div class="flex-cc rem-13" ng-click="toggleHideMap()" c="6B">折叠地图</div>
  </div>

  <search-result result="searchResult" type="type"></search-result>

</div>
