

.timeline-header {
    position: relative;
    height:178px;
    background-color:#005278;
}

.user-avt,
.user-name {
    position: absolute;
    text-align: right;
    right: 134px;
    bottom: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 1px .5px #222
}

.user-avt {
    width: 96px;
    height: 96px;
    border: 1px solid #dbdbdb;
    right: 15px;
    bottom: -22px;
    padding: 1px;
    background-color: #fff
}


/*
  exbook post and comment:
  ===========================
  
  ebfeed-list 全部列表
  ebfeed-unit 一项
    eb-po-avt-wrap 头像
    eb-po-cmt 内容，评论
      eb-po-body 内容区
        eb-po-name 用户名
        eb-post内容
        eb-time 时间
        eb-c-icon img 评论按钮
      eb-r 尖三角分割行
      eb-cmt 评论区
        eb-like 点赞列表
        eb-cmt-list 评论
    eb-po-clear 清除浮动
  
  
*/


.eb-po-body,
.eb-post {
    overflow: hidden
}

.eb-po-cmt,
.eb-post .eb-list-img:nth-child(1),
.eb-time {
    float: left
}

.eb-cmt,
.eb-r,
.eb-time {
  clear: both
}





.eb-time {
  font-size: 13px;
  color: #b1b1b1;
}

.ebfeed-list,
.ebfeed-unit,
.eb-po-body {
  position: relative
}

.ebfeed-list {
  padding: 1px 0 50px;
  font-size: 14px;
  background-color:#f8f8f8;
}

.ebfeed-unit {
  line-height: 1.5;
  border-bottom: 1px solid #f3f3f3;
  margin-top: 15px;
  padding-bottom: 15px
}
.eb-po-clear {
  clear: both;
}


.eb-po-avt-wrap {
  padding-left: 10px
}

.eb-po-avt {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 10px
}

.eb-r {
    border-bottom: 8px solid #eee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    width: 1px;
    margin-top: 5px;
    margin-left: 10px
}

.eb-po-cmt {
    padding-left: 60px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color:#f8f8f8;
}

.eb-po-name {
    color: #576b95
}

.eb-post {
    color: #252525;
    padding-bottom: 10px
}

.eb-post img {
    padding: 10px 5px 0 0;
    display: block;
    max-height: 130px;
    max-width: 130px
}



.eb-post .eb-list-img {
    width: 30%;
    max-height: 80px;
    max-width: 80px;
    padding-right: 5px;
    float: left;
    object-fit: cover
}

.eb-post .eb-list-img:last-child {
    padding-right: 0
}


.eb-c-icon {
    width: 20px;
    float: right
}

.eb-cmt {
  font-size: 14px;
  width: 100%;
  background-color: #eee;
}

.eb-like {
    color: #576b95;
    border-bottom: 1px solid #e3e3e3;
    padding: 5px 5px 3px 12px
}

.eb-like img {
    width: 12px;
    padding-right: 5px
}

.eb-cmt-list {
    padding: 5px 12px;
    color: #454545
}

.eb-cmt-list p {
    padding-top: 3px
}

.eb-cmt-list span {
    color: #3b5384
}
