/*====================== 
  color define
  
  0099ff main-color
  0088dd dark
  33ddff light
======================*/
#main-header{
  background-color:#0099ff;
}
#main-header ,
#main-header a,
#main-header span,
#main-header div{
  color:#fff;
}
.main-tab_active a,
.main-tab_active span,
.main-tab_active i{
  color:#0099ff;
}

/*======================
 app css  
======================*/

.user-icon-big {
  border-radius: 15px;
}

.hilight {
  background-color: #33ddff;
}
.cursor-pointer { 
  cursor:pointer;
}

.line-one{
  text-overflow: ellipsis;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
}

/*====================== 
  weui color redefine
======================*/

div.weui-toast .weui-toast__content {
  color:#0099ff !important;
}


.weui-cells_radio .weui-check:checked + .weui-icon-checked:before ,
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  color: #0099ff;
}

.weui-btn_primary {
  background-color: #0099ff;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
  background-color: #33ddff;
}


.weui-switch:checked,
.weui-switch-cp__input:checked ~ .weui-switch-cp__box {
    border-color: #0099ff;
    background-color: #0099ff;
}