/*====================== 
  color define
  
               原蓝色 /胡zp黑 /张C-蓝 /张Y-蓝
  main-color : x0099ff/x474b51/x3f81f2/x3366cc
  light-color: x33ddff/x646871/x79a8f7/x4670d0
  dark(未用) : x0088dd/x2b2e33/x0d52c6/x2c56af
======================*/
.main-header_container {
  background-color:#3366cc;
}
.main-header_container ,
.main-header_container a{
  color:#fff;
}

.main-tab_active a,
.main-tab_active span,
.main-tab_active i{
  color:#3366cc;
}

/*======================
 app css  
======================*/

.user-icon-big {
  border-radius: 15px;
}

.hilight {
  background-color: #4670d0;
}
.cursor-pointer { 
  cursor:pointer;
}

.line-one{
  text-overflow: ellipsis;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
}

.map-wrapper {
  width:100%;
  height:300px;
}
/*====================== 
  weui color redefine
======================*/
.weui-btn_disabled.weui-btn_primary {
  background-color: #888;
}
div.weui-toast .weui-toast__content {
  color:#3366cc !important;
}


.weui-cells_radio .weui-check:checked + .weui-icon-checked:before ,
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  color: #3366cc;
}

.weui-btn_primary {
  background-color: #3366cc;
}
.weui-dialog__btn_primary {
  color: #3366cc;
}
.appb-input-bar-icon {
  color: #3366cc;
}
.appb-btn-main {
  font-size:20px;
  color: #3366cc;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
  background-color: #4670d0;
}


.weui-switch:checked,
.weui-switch-cp__input:checked ~ .weui-switch-cp__box {
    border-color: #3366cc;
    background-color: #3366cc;
}

.weui-loadmore_line .weui-loadmore__tips {
  background-color: #f8f8f8;
}

/* .weui-cell__hd 图标右侧没留空，我们采用I做图标，故用此CSS修正一下*/
.weui-cell__hd i {
  padding-right:10px;
  color:#3366cc;
}

.weui-icon-success {
  color: #3366cc;
}
