/*====================== 
  color define
  
  0099ff main-color
  0088dd dark
  33ddff light
======================*/
.main-header_container {
  background-color:#0099ff;
}
.main-header_container ,
.main-header_container a{
  color:#fff;
}

.main-tab_active a,
.main-tab_active span,
.main-tab_active i{
  color:#0099ff;
}

/*======================
 app css  
======================*/

.user-icon-big {
  border-radius: 15px;
}

.hilight {
  background-color: #33ddff;
}
.cursor-pointer { 
  cursor:pointer;
}

.line-one{
  text-overflow: ellipsis;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
}

.map-wrapper {
  width:100%;
  height:300px;
}
/*====================== 
  weui color redefine
======================*/
.weui-btn_disabled.weui-btn_primary {
  background-color: #7799bb;
}
div.weui-toast .weui-toast__content {
  color:#0099ff !important;
}


.weui-cells_radio .weui-check:checked + .weui-icon-checked:before ,
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked:before {
  color: #0099ff;
}

.weui-btn_primary {
  background-color: #0099ff;
}
.weui-dialog__btn_primary {
  color: #0099ff;
}
.appb-input-bar-icon {
  color: #0099ff;
}
.appb-btn-main {
  font-size:20px;
  color: #0099ff;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
  background-color: #33ddff;
}


.weui-switch:checked,
.weui-switch-cp__input:checked ~ .weui-switch-cp__box {
    border-color: #0099ff;
    background-color: #0099ff;
}

.weui-loadmore_line .weui-loadmore__tips {
  background-color: #f8f8f8;
}

/* .weui-cell__hd 图标右侧没留空，我们采用I做图标，故用此CSS修正一下*/
.weui-media-box_small-appmsg  .weui-cell__hd i {
  padding-right:10px;
  color:#0099ff;
}
