<div class="weui-panel weui-panel_access" ng-if='$ctrl.uids.length'>
  <div class="weui-panel__bd">
    <a href class="weui-media-box weui-media-box_appmsg"
    ng-repeat='ua in $ctrl.uids track by $index'
    ng-click='$ctrl.goLink($ctrl.links[$index])'>
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" ng-src="{{$ctrl.usersInfo[ua.uid].wxinfo.headimgurl}}" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">
          <span ng-if='$ctrl.usersInfo[ua.uid].wxinfo'>
            {{$ctrl.usersInfo[ua.uid].wxinfo.nickname}}
          </span>
          <span ng-if='! $ctrl.usersInfo[ua.uid].wxinfo'>
            {{$ctrl.usersInfo[ua.uid].uname}}
          </span>
        </h4>
        <p class="weui-media-box__desc">ID:{{ua.uid}}</p>
      </div>
    </a>
  </div>

</div>
