<div class="weui-panel weui-panel_access">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_text">
      <a class='pull-right' href='#!/stee-feed-show?type=steefac&id={{id}}'><i class="fa fa-comments" aria-hidden="true"></i></a>
      <h4 class="weui-media-box__title">{{fac.name}}</h4>
      <a href='#!/steefac-detail?id={{id}}' class="weui-btn weui-btn_mini weui-btn_primary pull-right">查看详情</a>
      <p class="weui-media-box__desc">
      {{['特','一','二','三'][fac.level]}}级资质，
      加工费: 平均{{fac.feeObj.aver}}元/吨<br/>

      
      更新于<a am-time-ago='1000*fac.update_at'
        href=''></a>
      
        
      </p>
    </div>
  </div>

</div>


<div class="weui-cells">


  <div class="weui-cells__title" ng-if='1'>业绩展示
  <a href='#!/case-add?id={{id}}' ng-if='canEdit' class="weui-btn weui-btn_mini weui-btn_primary pull-right">增加业绩</a>
  </div>
</div>

<appb-feed-list  
  hide-poster="hidePoster",

  feed-app='feedApp' 
  feed-cat='feedCat'>
</appb-feed-list>



<fac-ui-copyright></fac-ui-copyright>
