<div class="weui-cells weui-cells_form">

  <div class="weui-cell"
  ng-class="{'weui-cell_select':cf.type=='radio', 'weui-cell_select-after':cf.type=='radio'}"
  ng-repeat='cf in $ctrl.fconfig.columns'>
  
  
    <!-- 1  cf.type =="mtext" -->  
    <div class="weui-cell__bd" ng-if=' cf.type =="mtext"'>
      <textarea class="weui-textarea" placeholder="{{cf.placeholder}}" rows="3"
      ng-model="$ctrl.models[cf.name]"
      ng-change="$ctrl.changeModel(cf.name)"
      maxlength='{{$ctrl.maxTextLength}}'
      ></textarea>
      <div class="weui-textarea-counter"
      ng-if='$ctrl.feedData.draftAll[$ctrl.fcat][cf.name].length/$ctrl.maxTextLength > 0.9'
      ><span>{{$ctrl.feedData.draftAll[$ctrl.fcat][cf.name].length}}</span>/{{$ctrl.maxTextLength}}</div>
    </div>

    <!-- 2 cf.type  =="pics" -->  
    <div class="weui-cell__bd" ng-if=' cf.type =="pics"'>
      <appb-ui-uploader  
        app-data='$ctrl.appData'
        imgs='$ctrl.imgs'
        max-count='9'
        update-img='$ctrl.updateImg(imgs)'
      ></appb-ui-uploader>
    </div>
    
    <!-- 3， cf.type = radio -->  
    <div class="weui-cell__hd" ng-if="cf.type=='radio'">
      <label for="" class="weui-label">{{cf.desc}}</label>
    </div>
    <div class="weui-cell__bd" ng-if="cf.type=='radio'">
      <select class="weui-select" name="select_{{cf.name}}"
      ng-model='$ctrl.models[cf.name]' 
      ng-change="$ctrl.changeModel(cf.name)">
        <option ng-repeat='key in cf.keys '
          value="{{key}}">{{cf.values[$index]}}</option>
      </select>
    </div>    

    <!-- 4， cf.type = input -->  
    <div class="weui-cell__hd" ng-if="cf.type=='text'">
      <label class="weui-label">{{cf.desc}}</label>
    </div>
    <div class="weui-cell__bd" ng-if="cf.type=='text'">
      <input class="weui-input" type="input"  placeholder=""
        name="input_{{cf.name}}"
        ng-model='$ctrl.models[cf.name]' 
        ng-change="$ctrl.changeModel(cf.name)"
      >
    </div>
    
    <!-- 5， cf.type = date -->  
    <div class="weui-cell__hd" ng-if="cf.type=='date'">
      <label for="" class="weui-label">{{cf.desc}}</label>
    </div>
    <div class="weui-cell__bd" ng-if="cf.type=='date'">
      <input class="weui-input" type="date" 
        name="input_{{cf.name}}"
        ng-model='$ctrl.models[cf.name]' 
        ng-change="$ctrl.changeModel(cf.name)"
      >
    </div>
    
    <!-- 6， cf.type = datetime -->  
    <div class="weui-cell__hd" ng-if="cf.type=='datetime'">
      <label for="" class="weui-label">{{cf.desc}}</label>
    </div>
    <div class="weui-cell__bd" ng-if="cf.type=='datetime'">
      <input class="weui-input" type="datetime-local" 
        name="input_{{cf.name}}"
        ng-model='$ctrl.models[cf.name]' 
        ng-change="$ctrl.changeModel(cf.name)"
      >
    </div>

  </div>
</div>
<div class="weui-btn-area">
  <button class="weui-btn weui-btn_primary" href="#" id="showTooltips"
  ng-disabled="$ctrl.feedData.publishing"
  ng-class="{'weui-btn_disabled':$ctrl.feedData.publishing}"
  ng-click="$ctrl.publish()">确定</button>
</div>  

