<div class="weui-cells weui-cells_form">

  <div class="weui-cell"
  ng-class="{'weui-cell_select':cf.type, 'weui-cell_select-after':cf.type}"
  ng-repeat='cf in $ctrl.fconfig.columns'>
  
  
    <!-- 1.1  cf.type 为空，  cf.name=="content" -->  
    <div class="weui-cell__bd" ng-if='! cf.type && cf.name=="content"'>
      <textarea class="weui-textarea" placeholder="不求万人怜惜，但求一人懂得。" rows="3"
      ng-model="$ctrl.feedData.draftAll[$ctrl.fcat].content"
      ng-change="$ctrl.feedData.changeMark('content')"
      maxlength='{{$ctrl.maxTextLength}}'
      ></textarea>
      <div class="weui-textarea-counter"
      ng-if='$ctrl.feedData.draftAll[$ctrl.fcat].content.length/$ctrl.maxTextLength > 0.9'
      ><span>{{$ctrl.feedData.draftAll[$ctrl.fcat].content.length}}</span>/{{$ctrl.maxTextLength}}</div>
    </div>

    <!-- 1.2 cf.type 为空，  cf.name=="pics" -->  
    <div class="weui-cell__bd" ng-if='! cf.type && cf.name=="pics"'>
      <appb-ui-uploader  
        app-data='$ctrl.appData'
        imgs='$ctrl.imgs'
        max-count='9'
        update-img='$ctrl.updateImg(imgs)'
      ></appb-ui-uploader>
    </div>
    
    <!-- 2， cf.type 有值的情况-->  
    <div class="weui-cell__hd" ng-if='cf.type'>
      <label for="" class="weui-label">{{cf.desc}}</label>
    </div>
    <div class="weui-cell__bd" ng-if='cf.type'>
      <select class="weui-select" name="select_{{cf.name}}"
      ng-model='$ctrl.feedData.draftAll[$ctrl.fcat][cf.name]' 
      ng-change="$ctrl.feedData.changeMark(cf.name)">
        <option ng-repeat='key in cf.keys '
          value="{{key}}">{{cf.values[$index]}}</option>
      </select>
    </div>    


  </div>
</div>
<div class="weui-btn-area">
  <button class="weui-btn weui-btn_primary" href="#" id="showTooltips"
  ng-disabled="$ctrl.feedData.publishing"
  ng-class="{'weui-btn_disabled':$ctrl.feedData.publishing}"
  ng-click="$ctrl.feedData.publish($ctrl.feedApp,$ctrl.feedCat)">确定</button>
</div>  

