/* 月份到月份选择组件 */

month-between > .element{
}
month-between > .element .sep{
  font-size: 0.5em;
  position: relative;
  width: 4.5em;
  margin: 0.3em;
}
month-between > .element .sep>*{
  width: 100%;
  text-align: center;
  border-bottom: solid 1px #888;
  position: absolute;
  bottom: 0;
  opacity: 0.5;
}

/* 选择部分 */
month-between > .pick{
  position: fixed;
  z-index:100;
  color: #333;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:#fff;
  opacity: 0.95;

  display: flex;
  flex-direction: column;
}
month-between > .pick > .title{
  text-align: center;
  padding: 0.6em;
  border-bottom: solid 1px #888;
}
month-between > .pick > .years{
  flex: 1;
  overflow: auto;
  background-color: #ccc;
  padding: 0.6em;
}
month-between > .pick > .years > .year{
  border-bottom: solid 1px #888;
}
month-between > .pick > .years > .year >.title{
  text-align: center;
}
month-between > .pick > .years > .year >.months{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
month-between > .pick > .years > .year >.months > .month{
  width: 25%;
  padding: 0.5em 0;
  margin: 0.2em 0;
  text-align: center;
}
month-between > .pick > .years > .year >.months > .month.y{
  background:#888;
  color:#fff;
}
month-between > .pick > .years > .year >.months > .month.b{
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
month-between > .pick > .years > .year >.months > .month.e{
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

