<div class="weui-uploader">
  <div class="weui-uploader__bd">

    <ul class="weui-uploader__files" id="uploaderFiles">
      <li class="weui-uploader__file preview-box" ng-click="$ctrl.clickImg($index)" ng-repeat='img in imgList track by $index'>
        <img ng-src="{{img}}?x-oss-process=image/resize,m_fill,h_100,w_100" />
      </li>
    </ul>

    <div class="imgs-uploader-box weui-uploader__input-box" ng-if='imgList.length < $ctrl.maxCount '>
      <input type="file" multiple accept="image/*,video/mp4" multi-file-upload change="File.onFile($files)">
    </div>

    <li class="weui-uploader__file weui-uploader__file_status" ng-repeat='file in File.uploadingFiles track by $index'>
      <div class="weui-uploader__file-content">{{file.per}}%</div>
    </li>


  </div>
</div>